@font-face {
    font-family: "SF-Compact-Rounded";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Semibold";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}

.pickupSelection-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 480px;
    width: 100vw;
    height: 100vh;
    padding: 0px 0px 20px 0px;
    background-color: #ffffff;
}

.pickupSelection-topSide {
    display: flex;
    flex-direction: column;
}

.pickupSelection-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    padding: 14px 14px 14px 14px;
    margin-bottom: 20px;
}

.backArrow-icon {
    width: 23px;
    height: 23px;
}

.pickupSelection-title {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    color: #111111;
    margin-left: 16px;
}

.pickup-detailContent {
    padding: 0px 14px 0px 14px;
}

.pickup-radioSection {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.pickup-radioSection input[type="radio"] {
    display: none;
}

.pickup-radioSection label {
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #aaaaaa;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    height: 72px;
    padding: 12px 12px 11px 12px;
}

.pickup-radioSection input[type="radio"]:checked + label {
    border-color: #4bb7ac;
    background-color: #E6FBF9;
}

.pickup-radioSection input[type="radio"]:checked + label .pickup-radioTitle {
    color: #4bb7ac;
}

.pickup-radioSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pickupradio-image {
    width: 23px;
    height: 23px;
}

.pickup-radioTitle {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: #111111;
    font-size: 18px;
    margin-left: 10px;
}

.pickupSelection-selectButton {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-radius: 8px;
    margin-left: 14px;
    margin-right: 14px;

    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: white;
}