$primary-color : #FEC814;
$secondary-color : #4056C6;
$gray-color : #EDEDED;

.btn-primaryPika {
    background-color: $primary-color;
    font-weight: bold;
    border-radius: 36;
    text-decoration: none;
}
.btn-secondaryPika {
    background-color: $secondary-color;
    font-weight: bold;
    border-radius: 36;
    text-decoration: none;
}
.btn-lightPika {
    background-color: $gray-color;
    font-weight: bold;
    border-radius: 36;
    text-decoration: none;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}