@font-face {
    font-family: "SF-Compact-Rounded";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Semibold";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

.menu-pin {
    background-color: #EDEDED;
    position: fixed; 
    // margin-top: 20%;
    // margin-left: 32%;
    width: 100%;
    height: 100%;
}

.menu-fill {
    margin-top: 20%;
    margin-left: 32%;
}

.menu-title {
    background-color: #4056C6;
    display: flex;
    justify-content: center;
}

.paperView {
    background-color: #4056C6;
    width: 100% !important;
    height: 100% !important;
}

.pincode-input-text {
    background-color: #ffff !important;    
}