@font-face {
    font-family: "SF-Compact-Rounded";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Semibold";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

.modalMenuDetail-auth {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 3; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: hidden; /* Enable scroll if needed */
    // padding-top: 0px; /* Location of the content container */
}

.modal-content-menudetail-auth {
    background-color: white;
    position: relative;
    max-width: 588px; /* Max width where it stops expanding */
    width: auto; /* Width in proportion to its parent container*/
    min-height: 474px;
    max-height: 573px; /* Max Height where it stops expanding */
    height: 90vh; /* Height in proportion to its parent container*/
    margin: auto; /* Auto margin according to the element width */
    margin-top: 5vh;
    border: none;
    border-radius: 20px; /* Optional. Rounds container corners */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: auto;
}

.modal-content-menudetail-auth::-webkit-scrollbar {
    display: none;
}

.iconClose-auth {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
}

.closeLogo-auth {
    height: 21px;
    width: 21px;
}

.iconBack {
    display: block;
    position: absolute;
    top: 21px;
    left: 37px;
    z-index: 1;
    cursor: pointer;
}

.backLogo {
    height: 36px;
    width: 36px;
}

.menuDetail-layout-auth {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.menuContain-all-auth {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 18px 31px 37px 33px;
}

.menuimg-auth {
    width: 126px;
    height: 50px;
}

.menu-detail-auth {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 23px;
}

.menu-name-auth {
    max-width: 600px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
    color: #000000;
    line-height: 20px;
}

.textfield-auth {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.textfieldinput-auth {
    border: 1px solid #c4c4c4;
    height: 54px;
    border-radius: 8px;
    margin-bottom: 21px;
    padding-left: 15px;
    outline: none;
}

.buttonSide-auth {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.submitButton-auth {
    display: flex;
    width: 176px;
    background-color: #4bb7ac;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    cursor: pointer;
}

.wordsButton-auth {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
}

.bottomSide-auth {
    display: flex;
    max-width: 524px;
    width: 100%;
    position: absolute;
    justify-content: space-between;
    bottom: 37px;
    // margin-top: 58px;
}

.countrySide-auth {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-transform: capitalize;
    color: #111111;
}

.reqSide-auth {
    display: flex;
    justify-content: space-between;
    width: 176px;
}

.reqSideWord-auth {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-transform: capitalize;
    color: #767676;
}

.menu-category-auth {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 50px;
    color: #767676;
    text-transform: capitalize;
}

.menu-price-auth {
    min-width: 160px;
    width: auto;
    font-family: "SF-Compact-Rounded-Semibold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
    margin-top: 55px;
}

@media (max-width: 768px) {
    .mob-modalMenuDetail-auth {
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Overlay effect: translucent background: black w/ partial opacity */
        z-index: 3; /* Overlay effect: positioned over other containers */
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        position: fixed; /* Fix position on the top-left corner*/
        top: 0;
        left: 0;
        overflow: hidden; /* Enable scroll if needed */
        padding-top: 25px; /* Location of the content container */
    }
    /* Modal content */
    .mob-modal-content-menudetail-auth {
        background-color: white;
        width: 88vw; /* Width in proportion to its parent container*/
        // height: auto; /* Height in proportion to its parent container */
        margin: auto; /* Auto margin according to the element width */
        border: none;
        border-radius: 20px; /* Optional. Rounds container corners */
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        overflow: auto;
    }

    .mob-menuBanner-auth {
        display: block;
        position: relative;
        width: 100%;
        height: 169px;
        border-radius: 20px;
    }

    .mob-menuimg-auth {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .mob-iconClose-auth {
        display: flex;
        position: absolute;
        top: 20px;
        right: 19px;
    }

    .mob-closeLogo-auth {
        height: 15px;
        width: 15px;
    }

    .mob-menuContain-auth {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
    }

    .mob-inside-menuContain-auth {
        display: flex;
        justify-content: space-between;
        padding: 15px 19px 14px 18px;
    }

    .mob-menu-detail-auth {
        margin: 0;
        padding: 0;
    }

    .mob-menu-star-auth {
        display: flex;
        justify-content: center;
        height: auto;
        padding-top: 6px;
        padding-bottom: 0px;
        max-width: 51px;
        background-color: #f5f6f7;
        border-radius: 20px;
        margin-bottom: 16px;
    }

    .mob-menu-star-img-auth {
        width: 12px;
        height: 12px;
    }

    .mob-menu-star-rating-auth {
        font-family: "SF-Compact-Rounded", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #111111;
        text-transform: capitalize;
        font-size: 12px;
        margin-left: 4.5px;
    }

    .mob-menu-name-auth {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-transform: capitalize;
        color: #111111;
        max-width: 181px;
        font-size: 18px;
        line-height: 20px;
    }

    .mob-menu-category-auth {
        font-family: "SF-Compact-Rounded", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #767676;
        text-transform: capitalize;
        line-height: 20px;
        font-size: 14px;
    }

    .mob-menuDesc-auth {
        height: auto;
        padding: 0px 19px 21px 18px;
    }

    .mob-menu-desc-auth {
        font-family: "SF-Compact-Rounded", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-transform: capitalize;
        color: #767676;
        max-width: 120px;
        font-size: 14px;
        line-height: 17px;
    }

    .mob-menu-price-auth {
        width: auto;
        font-family: "SF-Compact-Rounded", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #111111;
        min-width: 78px;
        font-size: 22px;
        margin-top: 45px;
    }

    .mob-menuButton-auth {
        padding: 9px 19px 15px 17px;
    }

    .mob-openMenuSelection-auth {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        height: 50px;
        border-radius: 10px;
    }

    .mob-add-words-auth {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-transform: capitalize;
        color: #ffffff;
        line-height: 20px;
        font-size: 18px;
    }

    // .pincode-input-container {
    //     margin-top: 30px;
    //     margin-bottom: 30px;
    //     font-size: 25px;
    //     display: flex;
    //     justify-content: center;
    // }

    // .pincode-input-text {
    //     // background-color: #ffff !important; 
    //     border: 1.5px solid !important;
    //     border-radius: 10px;
    //     border-color: #9e9e9e !important;
    //     width: 40px !important;
    //     height: 40px !important;
    // }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.pincode-input-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    @media (max-width: 1280px) {
        font-size: 30px;
    }
    @media (max-width: 768px) {
        font-size: 25px;
    }
}

.pincode-input-text {
    // background-color: #ffff !important;
    border: 1.5px solid !important;
    border-radius: 10px;
    border-color: #9e9e9e !important;
    @media (max-width: 1280px) {
        width: 60px !important;
        height: 60px !important;
    }
    @media (max-width: 768px) {
        width: 40px !important;
        height: 40px !important;
    }
}

.sbtButton {
    display: inline-block;
    height: 50px;
    background-color: #4bb7ac;
    border-radius: 20px;
    cursor: pointer;
}

.sbtWords {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: #ffffff;
}

.btnSubmit {
    background-color: #4bb7ac !important;
    color: #ffffff !important;
}

.btm30 {
    margin-bottom: 30px;
}

.top30 {
    margin-top: 30px;
}

.btm50 {
    margin-bottom: 50px;
}

.linkWords {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: #4bb7ac;
    margin-top: 10px;
    cursor: pointer;
}

.menu-pin {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #767676;
    text-transform: capitalize;
    line-height: 20px;
    font-size: 14px;
}

.left30 {
    margin-left: 30px;
}
