@font-face {
  font-family: "SF-Compact-Rounded";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
  font-family: "SF-Compact-Rounded-Medium";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
  font-family: "SF-Compact-Rounded-Semibold";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

.cartLayout {
  width: 100vw;
  padding: 20px 117px 20px 107px;
  background-color: #ffffff;
}

.cartTitle {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 54px;
  margin-bottom: 41px;
}

.logopikappCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoPikappCart {
  width: 135px;
  height: 54px;
}

.confirmationOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cartContent {
  display: flex;
}

.cart-LeftSide {
  width: 50%;
}

//cartList start
.cartList {
  max-width: 477px;
  width: auto;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #e5e5e5;
}

.cartList-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f6f7;
  height: 40px;
  padding-top: 7px;
  padding-left: 14.5px;
}

.cartList-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cartList-content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 22.5px 17.5px 36px 14.5px;
  margin-bottom: 7px;
}

.cartList-content-frame {
  width: 118px;
  height: 118px;
  border-radius: 20px;
  overflow: hidden;
}

.cartList-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cartList-content-detail {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.cartList-content-detail-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
}

.cartList-content-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  max-width: 150px;
}

.cartList-content-choice,
.cartList-content-notes {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #767676;
  max-width: 150px;
}

.cartList-content-price {
  font-family: "SF-Compact-Rounded-Semibold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cartList-content-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cartList-editButton {
  width: 62px;
  height: 27.5px;
  border: 2px solid #4bb7ac;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartList-editWord {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #4bb7ac;
}

.cartList-amountBox {
  margin: 0;
  padding: 0;
}

.cartList-amountBox-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.cartList-minusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  background-color: #4bb7ac;
  cursor: pointer;
}

.cartList-minusSym {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.cartList-numberArea {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #111111;
  margin-left: 12px;
  margin-right: 12px;
}

.cartList-plusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  background-color: #4bb7ac;
  cursor: pointer;
}

.cartList-plusSym {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
//cartList end

.cart-RightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.flex-RightSide {
  margin-left: auto;
}

//cartStoreBox start
.cart-storeBox {
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  min-width: 477px;
  width: auto;
  margin-bottom: 40px;
}

.cart-storeBox-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: 40px;
  padding: 12px 15px 0px 15px;
  border-radius: 8px 8px 0px 0px;
}

.cart-storeBox-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cart-storeBox-distance {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cart-storeBox-content {
  display: flex;
  justify-content: start;
  padding: 12px 15px 12px 16px;
  height: auto;
}

.cart-storeBox-descArea {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  width: auto;
}
//cartStoreBox end

//cartFoodService start
.cart-foodService {
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 477px;
  width: auto;
  margin-bottom: 30px;
}

.cart-foodService-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: 40px;
  padding: 0px 0px 0px 15px;
}

.cart-foodService-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cart-foodService-selectButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.cart-foodService-selectIcon {
  width: 20px;
  height: 12px;
}

.cart-foodService-content {
  padding: 10px 10px 10px 12px;
}

.cart-foodService-descArea {
  display: flex;
  justify-content: start;
  align-items: center;
}

.cart-foodService-logo {
  width: 33px;
  height: 33px;
}

.cart-foodService-words {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  padding-top: 7px;
  margin-left: 7px;
}
//cartFoodService end

//cartPaymentService start
.cart-paymentService {
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 477px;
  width: auto;
  margin-bottom: 42px;
}

.cart-paymentService-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: 40px;
  padding: 0px 0px 0px 15px;
}

.cart-paymentService-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cart-paymentService-selectButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.cart-paymentService-selectIcon {
  width: 20px;
  height: 12px;
}

.cart-paymentService-content {
  padding: 10px 10px 10px 15px;
}

.cart-paymentService-descArea {
  display: flex;
  justify-content: start;
  align-items: center;
}

.cart-paymentService-logo {
  width: 26px;
  height: 26px;
}

.cart-paymentService-words {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  padding-top: 4px;
  margin-left: 7px;
}
//cartPaymentService end

//cartCheckout start
.cart-checkoutArea {
  display: flex;
  justify-content: space-between;
  min-width: 477px;
  width: auto;
}

.cartLayout-mob {
  display: none;
}

.cart-TotalAmount {
  min-width: 182px;
  width: auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 6px 20px 6px 12px;
}

.cart-TotalAmount-title {
  display: flex;
  justify-content: start;
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cart-TotalAmount-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cart-TotalAmount-price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cart-TotalAmount-detailArrow {
  width: 20px;
  height: 12px;
}

.cart-OrderButton {
  display: flex;
  justify-content: space-between;
  background-color: #4bb7ac;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 16px 12px 16px 19px;
  min-width: 283px;
  width: auto;
}

.cart-OrderButton-content {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.cart-OrderButton-Frame {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-OrderButton-checklist {
  width: 14px;
  height: 10px;
}

.cart-OrderButton-word {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 7px;
  margin-left: 14px;
}

.cart-OrderButton-orderArrow {
  width: 11px;
  height: 18px;
}
//cartCheckout end

@media (max-width: 768px) {
  .cartLayout {
    padding: 20px 17px 26px 17px;
  }

  .cartTitle {
    flex-direction: column;
    align-items: flex-start;
    height: 104px;
    margin-bottom: 28px;
  }

  .confirmationOrder {
    font-size: 20px;
  }

  .cartContent {
    flex-direction: column;
  }

  .cart-LeftSide {
    display: flex;
    width: auto;
    justify-content: center;
  }

  //cartList start
  .cartList {
    max-width: 381px;
  }

  .cartList-header {
    height: 32px;
    padding-top: 4px;
    padding-left: 11px;
  }

  .cartList-title {
    font-size: 15px;
  }

  .cartList-content {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 18px 12.5px 14px 13px;
    margin-bottom: 4px;
  }

  .cartList-content-frame {
    width: 94px;
    height: 94px;
  }

  .cartList-content-detail {
    max-width: 300px;
    width: auto;
  }

  .cartList-content-detail-left {
    max-width: 150px;
    width: auto;
  }

  .cartList-content-title {
    font-size: 15px;
  }

  .cartList-content-choice,
  .cartList-content-notes {
    font-size: 12px;
  }

  .cartList-content-price {
    font-size: 15px;
  }

  .cartList-editButton {
    width: 49.5px;
    height: 22px;
    border: 1px solid #4bb7ac;
  }

  .cartList-editWord {
    font-weight: 500;
    font-size: 12px;
  }

  .cartList-minusBox {
    width: 23px;
    height: 23px;
  }

  .cartList-minusSym {
    font-size: 15px;
  }

  .cartList-numberArea {
    margin-left: 10px;
    margin-right: 10px;
  }

  .cartList-plusBox {
    width: 23px;
    height: 23px;
  }

  .cartList-plusSym {
    font-size: 15px;
  }
  //cartList end

  .cart-RightSide {
    align-items: center;
    width: auto;
  }

  .flex-RightSide {
    margin-left: 0;
  }

  //cartStoreBox start
  .cart-storeBox {
    border: 0.5px solid #f5f6f7;
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 24px;
    margin-top: 32px;
  }

  .cart-storeBox-header {
    height: 32px;
    padding: 5px 12px 0px 12px;
  }

  .cart-storeBox-title {
    font-size: 15px;
  }

  .cart-storeBox-distance {
    font-size: 10px;
  }

  .cart-storeBox-content {
    padding: 8px 12px 8px 13px;
  }

  .cart-storeBox-descArea {
    font-size: 12px;
  }
  //cartStoreBox end

  //cartFoodService start
  .cart-foodService {
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 24px;
  }

  .cart-foodService-header {
    height: 32px;
    padding: 0px 0px 0px 12px;
  }

  .cart-foodService-title {
    font-size: 15px;
  }

  .cart-foodService-selectButton {
    width: 32px;
    height: 32px;
  }

  .cart-foodService-selectIcon {
    width: 17px;
    height: 10px;
  }

  .cart-foodService-logo {
    width: 27px;
    height: 27px;
  }

  .cart-foodService-words {
    font-size: 15px;
    padding-top: 7px;
    margin-left: 7px;
  }
  //cartFoodService end

  //cartPaymentService start
  .cart-paymentService {
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 0px;
  }

  .cart-paymentService-header {
    height: 32px;
    padding: 0px 0px 0px 12px;
  }

  .cart-paymentService-title {
    font-size: 15px;
  }

  .cart-paymentService-selectButton {
    width: 32px;
    height: 32px;
  }

  .cart-paymentService-selectIcon {
    width: 17px;
    height: 10px;
  }

  .cart-paymentService-content {
    padding: 10px 10px 10px 12px;
  }

  .cart-paymentService-logo {
    width: 21px;
    height: 21px;
  }

  .cart-paymentService-words {
    font-size: 15px;
    padding-top: 4px;
    margin-left: 7px;
  }
  //cartPaymentService end

  //cartCheckout start
  .cart-checkoutArea {
    display: none;
  }

  .cartLayout-mob {
    display: block;
    background-color: #f5f6f7;
    padding-bottom: 17px;
  }

  .cart-checkoutArea-mob {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: #ffffff;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 40px 40px;
    height: 81px;
    padding: 14px 17px 16px 27px;
  }

  .cart-TotalAmount-mob {
    min-width: 100px;
    max-width: 283px;
    width: auto;
    background-color: #ffffff;
  }

  .cart-TotalAmount-title-mob {
    display: flex;
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: #111111;
  }

  .cart-TotalAmount-bottom-mob {
    display: flex;
    justify-content: space-between;
  }

  .cart-TotalAmount-price-mob {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
    color: #111111;
    margin-right: 10px;
  }

  .cart-TotalAmount-detailArrowCenter-mob {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }

  .cart-TotalAmount-detailArrow-mob {
    width: 20px;
    height: 12px;
  }

  .cart-OrderButton-mob {
    display: flex;
    justify-content: space-between;
    background-color: #4bb7ac;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 12px 12px 13px 19px;
    max-width: 283px;
    min-width: 165px;
    width: auto;
    height: 51px;
  }

  .cart-OrderButton-content-mob {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .cart-OrderButton-Frame-mob {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-OrderButton-checklist-mob {
    width: 14px;
    height: 10px;
  }

  .cart-OrderButton-word-mob {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #ffffff;
    padding-top: 9px;
    margin-left: 14px;
  }

  .cart-OrderButton-orderArrowCenter-mob {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-OrderButton-orderArrow-mob {
    width: 11px;
    height: 18px;
  }
  //cartCheckout end
}

@media (max-width: 450px) {
  .cart-LeftSide {
    display: block;
    width: auto;
    justify-content: flex-start;
  }
}

@media (max-width: 380px) {
  //cartList start
  .cartList {
    max-width: 350px;
  }

  .cartList-content-detail {
    max-width: 300px;
    width: auto;
  }

  .cartList-content-detail-left {
    max-width: 130px;
    width: auto;
  }

  .cartList-content-title {
    font-size: 15px;
  }
  //cartList end

  .flex-RightSide {
    margin-left: auto;
  }

  //cartStoreBox start
  .cart-storeBox {
    min-width: 340px;
    max-width: 340px;
  }
  //cartStoreBox end

  //cartFoodService start
  .cart-foodService {
    min-width: 340px;
    max-width: 340px;
  }
  //cartFoodService end

  //cartPaymentService start
  .cart-paymentService {
    min-width: 340px;
    max-width: 340px;
  }
  //cartPaymentService end
}

@media (max-width: 325px) {
  //cartList start
  .cartList {
    min-width: 290px;
    max-width: 290px;
  }

  .cartList-content-detail {
    max-width: 150px;
    width: auto;
  }

  .cartList-content-detail-left {
    max-width: 100px;
    width: auto;
  }

  .cartList-content-title {
    font-size: 12px;
  }

  .cartList-content-choice,
  .cartList-content-notes {
    font-size: 12px;
  }
  //cartList end

  .flex-RightSide {
    margin-left: auto;
  }

  //cartStoreBox start
  .cart-storeBox {
    min-width: 290px;
    max-width: 290px;
  }
  //cartStoreBox end

  //cartFoodService start
  .cart-foodService {
    min-width: 290px;
    max-width: 290px;
  }
  //cartFoodService end

  //cartPaymentService start
  .cart-paymentService {
    min-width: 290px;
    max-width: 290px;
  }
  //cartPaymentService end

  //cartCheckout start
  .cart-TotalAmount-mob {
    min-width: 100px;
    max-width: 100px;
  }

  .cart-TotalAmount-title-mob {
    font-size: 10px;
  }

  .cart-TotalAmount-price-mob {
    font-size: 12px;
    margin-right: 5px;
  }

  .cart-TotalAmount-detailArrowCenter-mob {
    padding-top: 4px;
  }

  .cart-TotalAmount-detailArrow-mob {
    width: 15px;
    height: 7px;
  }

  .cart-OrderButton-mob {
    max-width: 200px;
    min-width: 145px;
  }

  .cart-OrderButton-Frame-mob {
    width: 24px;
    height: 24px;
  }

  .cart-OrderButton-checklist-mob {
    width: 12px;
    height: 8px;
  }

  .cart-OrderButton-word-mob {
    font-size: 14px;
  }

  .cart-OrderButton-orderArrow-mob {
    width: 9px;
    height: 16px;
  }
  //cartCheckout end
}

// @media (min-width: 768px) {
//   .cartTitle {
//     font-weight: bold;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartContent {
//     margin-left: 8px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartIcon {
//     width: 24px;
//     height: 24px;
//     margin-left: 16px;
//   }
//   .cartNote {
//     font-size: 12px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartContentFood {
//     font-size: 16px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartContentPrice {
//     font-size: 14px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .iconButton {
//     background-color: transparent;
//     border: none;
//   }
//   .cartFoodImage {
//     margin-left: 0;
//     margin-top: 0;
//     border-radius: 18px;
//     width: 60px;
//     height: 60px;
//     object-fit: cover;
//   }
//   .cartPayment {
//     border-radius: 36px;
//     margin: 0 1.5%;
//     background-color: $primary-color;
//   }
//   .cartFinalPrice {
//     font-weight: bold;
//     font-size: 16px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartFinalButton {
//     font-size: 16px;
//     font-weight: bold;
//     color: $secondary-color;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }

//   .cartModalField {
//     text-align: center;
//     max-width: 40px;
//     max-height: 30px;
//     width: 100px;
//   }
//   .cartModalField:disabled {
//     background-color: white;
//   }
//   .btn-cartModalMiniButton {
//     border-radius: 24px;
//     background-color: #4bb7ac;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 0px;
//     color: white;
//     max-width: 40px;
//     max-height: 30px;
//     padding: 0 8;
//   }
//   .btn-cartModalMiniButton:hover {
//     background-color: #5bc7bc;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 0px;
//     color: white;
//   }

//   .cartModalOption {
//     font-weight: bold;
//     margin-left: 16px;
//     font-size: 18px;
//   }
//   .cartModalImage {
//     width: 26px;
//     height: 26px;
//   }
// }

// @media (max-width: 768px) {
//   .cartTitle {
//     font-weight: bold;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }

//   .cartContent {
//     margin-left: 8px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartIcon {
//     width: 18px;
//     height: 18px;
//   }
//   .cartNote {
//     margin-left: 8;
//     font-size: 8px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartContentFood {
//     font-size: 16px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartContentPrice {
//     font-size: 14px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .iconButton {
//     background-color: transparent;
//     border: none;
//   }
//   .cartFoodImage {
//     margin-top: 0;
//     border-radius: 18px;
//     width: 60px;
//     height: 30x;
//     object-fit: cover;
//   }
//   .cartPayment {
//     border-radius: 36px;
//     margin: 0 0.15%;
//     background-color: $primary-color;
//   }
//   .cartFinalPrice {
//     font-weight: bold;
//     font-size: 16px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .cartFinalButton {
//     font-size: 16px;
//     font-weight: bold;
//     color: $secondary-color;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }

//   .cartModalField {
//     text-align: center;
//     max-width: 40px;
//     width: 100px;
//     max-height: 30px;
//   }
//   .cartModalField:disabled {
//     background-color: white;
//   }
//   .btn-cartModalMiniButton {
//     border-radius: 24px;
//     background-color: #4bb7ac;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 0px;
//     color: white;
//     max-width: 40px;
//     max-height: 30px;
//     padding: 0 8;
//   }
//   .btn-cartModalMiniButton:hover {
//     background-color: #5bc7bc;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 0px;
//     color: white;
//   }
//   .cartModalOption {
//     font-weight: bold;
//     margin-left: 8px;
//     font-size: 14px;
//   }
//   .cartModalImage {
//     width: 20px;
//     height: 20px;
//   }
// }
