@font-face {
  font-family: "SF-Compact-Rounded";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
  font-family: "SF-Compact-Rounded-Medium";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
  font-family: "SF-Compact-Rounded-Semibold";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

.cartLayout {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100vw;
  background-color: #f0f1f2;
}

.cartTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px;
  background-color: #FFFFFF !important;
}

.LogoPikappCart {
  width: 23px;
  height: 23px;
}

.confirmationOrder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  color: #111111;
  margin-left: 16px;
}

.cartContent {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cart-LeftSide {
  display: block;
  width: 100%;
  justify-content: flex-start;
}

//cartmerchantinfo start
.cart-customerinfo {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ffffff;
}

.cart-customerinfo-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 32px;
  padding: 15px 0px 0px 12px;
}

.cart-customerinfo-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cart-customerinfo-selectButton {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.cart-customerinfo-selectIcon {
  width: 17px;
  height: 10px;
}

.cart-customerinfo-content {
  padding: 10px 10px 10px 12px;
}

.cart-customerinfo-descArea {
  display: flex;
  justify-content: start;
  align-items: center;
}

.cart-customerinfo-logo {
  width: 27px;
  height: 27px;
}

.cart-customerinfo-words {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  padding-top: 7px;
  margin-left: 7px;
}

.cart-detailcontent-address {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #4bb7ac;
  width: auto;
  margin-bottom: 0px;
}

.cart-detailcontent-addressdesc {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  color: #767676;
  width: auto;
}
//cartmerchantinfo end

// Biz Type Section Start
.cart-serviceType {
  display: flex;
  cursor: pointer;
  background-color: #ffffff;
  margin-top: 10px;
}

.cart-detailContent {
  width: 100%;
  border-radius: 8px;
  border: 0.5px solid #aaaaaa;
  padding: 14px;
  margin: 14px;
}

.cart-leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-title {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #111111;
  font-size: 18px;
  margin-left: 10px;
}

.cartmanual-List-itembox {
  border-radius: 3px;
  margin-left: 10px;
  background-color: #E0EAFF;
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  padding: 4px;
  color: #4056C6;
  text-transform: capitalize;
}

.cart-arrowright {
  display: flex;
}

.cart-arrowright-icon {
  height: 23px;
  width: 23px;
}

.cart-selectiondetail {
  margin-top: 10px;
}

.cart-selectiondetail-border {
  border-top : 1px solid #c4c4c4;
}

.cart-selectiondetail-desc {
  font-family: "SF-Compact-Rounded", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111111;
  margin-top: 10px;
}
// Biz Type Section End

//cartList start
.cartList {
  width: auto;
  border-radius: 8px;
  background-color: #ffffff;
}

.cartList-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  height: 32px;
  padding-top: 18px;
  padding-left: 11px;
}

.cartList-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cartList-content {
  display: flex;
  justify-content: space-around;
  background-color:  #ffffff;
  padding: 18px 12.5px 14px 13px;
}

.cartList-content-frame {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
}

.cartList-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cartList-content-detail {
  width: 330px;
  display: flex;
  justify-content: space-between;
}

.cartList-content-detail-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 150px;
}

.cartList-content-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  max-width: 150px;
}

.cartList-content-choice,
.cartList-content-notes {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  max-width: 150px;
}

.cartList-content-price {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #4056c6;
}

.cartList-content-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cartList-editButton {
  width: 49.5px;
  height: 22px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cartList-editWord {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #4bb7ac;
}

.cartList-amountBox {
  margin: 0;
  padding: 0;
}

.cartList-amountBox-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.cartList-minusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #4bb7ac;
}

.cartList-minusSym {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.05em;
  color: #4bb7ac;
  margin-top: -3px;
}

.cartList-numberArea {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #111111;
  margin-left: 10px;
  margin-right: 10px;
}

.cartList-plusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #4bb7ac;
}

.cartList-plusSym {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.05em;
  color: #4bb7ac;
  margin-top: -3px;
}
//cartList end

.cart-RightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.flex-RightSide {
  margin-left: 0;
  width: 100%;
}

//cartFoodService start
.cart-foodService {
  min-width: 381px;
  max-width: 381px;
  margin-bottom: 24px;
}

.cart-foodService-header {
  height: 32px;
  padding: 0px 0px 0px 12px;
}

.cart-foodService-title {
  font-size: 15px;
}

.cart-foodService-img-icon {
  width: 23px;
  height: 15px;
}

.cart-foodService-selectButton {
  width: 32px;
  height: 32px;
}

.cart-foodService-selectIcon {
  width: 17px;
  height: 10px;
}

.cart-foodService-logo {
  width: 27px;
  height: 27px;
}

.cart-foodService-words {
  font-size: 15px;
  padding-top: 7px;
  margin-left: 7px;
}
//cartFoodService end

//cartPaymentService start
.cart-paymentService {
  min-width: 381px;
  max-width: 381px;
  margin-bottom: 0px;
}

.cart-paymentService-header {
  height: 32px;
  padding: 0px 0px 0px 12px;
}

.cart-paymentService-title {
  font-size: 15px;
}

.cart-paymentService-selectButton {
  width: 32px;
  height: 32px;
}

.cart-paymentService-selectIcon {
  width: 17px;
  height: 10px;
}

.cart-paymentService-content {
  padding: 10px 10px 10px 12px;
}

.cart-paymentService-logo {
  width: 21px;
  height: 21px;
}

.cart-paymentService-words {
  font-size: 15px;
  padding-top: 4px;
  margin-left: 7px;
}
//cartPaymentService end

// Summary Order start
.cart-summarypayment {
  width: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #ffffff;
}

.cart-detailcontent-payment {
  height: 100%;
  padding: 10px 8px 10px 8px;
}

.cart-detailprice-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 32px;
  padding: 0px 0px 0px 12px;
}

.cart-detailprice-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.cart-detailprice-desc {
  position: relative;
  background-color: #ffffff;
  padding: 0px 12px 0px 12px;
}

.orderDetail-detailprice-word {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: #111111;
  font-size: 14px;
  height: 32px;
}
// Summary Order end

// Checkout Order start
.cart-Layout {
  display: block;
  position: sticky;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;
}

.cart-checkoutArea {
  display: flex;
  justify-content: space-between;
  width: auto;
  background-color: #ffffff;
  height: 81px;
  padding: 14px 17px 16px 14px;
}

.cart-TotalAmount {
  min-width: 100px;
  max-width: 283px;
  width: auto;
  background-color: #ffffff;
}

.cart-TotalAmount-title {
  display: flex;
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  color: #111111;
}

.cart-TotalAmount-bottom {
  display: flex;
  justify-content: space-between;
}

.cart-TotalAmount-price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
  color: #4bb7ac;
  margin-right: 10px;
}

.cart-TotalAmount-detailArrowCenter {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.cart-TotalAmount-detailArrow {
  width: 20px;
  height: 12px;
}

.cart-OrderButton {
  display: flex;
  justify-content: space-between;
  background-color: #4bb7ac;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 12px 12px 13px 19px;
  max-width: 165px;
  min-width: 148px;
  width: auto;
  height: 51px;
}

.cart-OrderButton-content {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.cart-OrderButton-Frame {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-OrderButton-checklist {
  width: 14px;
  height: 10px;
}

.cart-OrderButton-word {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 9px;
  // margin-left: 14px;
}

.cart-OrderButton-orderArrowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-OrderButton-orderArrow {
  width: 11px;
  height: 18px;
}
// Checkout Order end

@media (max-width: 768px) {
  
}

.verificationMsg {
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #DC6A84;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  line-height: 2;
}

.messageSend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.txtUnderline {
  text-decoration: underline;
  cursor: pointer;
  text-indent: 0.5em;
}

.txtDisabled {
  cursor: none;
  text-indent: 0.5em;
}

.txtBold {
  font-weight: bold;
  text-transform: lowercase;
}

.txtIndent {
  text-indent: 0.5em;
}