@font-face {
    font-family: "SF-Compact-Rounded";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Semibold";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

.modalCartPage {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 3; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: hidden; /* Enable scroll if needed */
}

.modalCartContent {
    background-color: white;
    position: relative;
    // max-width: 675px; /* Width in proportion to its parent container*/
    // width: 675px; /* Max width where it stops expanding */
    width: 540px; /* Max width where it stops expanding */
    min-height: 213px; /* Height in proportion to its parent container*/
    height: auto; /* Max Height where it stops expanding */
    margin: auto; /* Auto margin according to the element width */
    margin-top: 5vh;
    border: none;
    border-radius: 20px; /* Optional. Rounds container corners */
    -webkit-animation-name: animacartmove;
    -webkit-animation-duration: 0.4s;
    animation-name: animacartmove;
    animation-duration: 0.4s;
    overflow: auto;
}

.iconCloseNarrow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    padding: 26.4px;
}

.closeLogoNarrow {
    height: 22px;
    width: 22px;
}

.modalCart-detail {
    padding: 40.5px 27px 35px 28px;
}

.modalCart-paymentLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 73px 27px 60px 28px;
}

.modalCart-paymentTitle {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    mix-blend-mode: normal;
    text-align: center;
}

.modalCart-paymentCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

@mixin buttonModalCart {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 57px;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    cursor: pointer;

    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
}

.modalCart-cancelPay {
    @include buttonModalCart();
    width: 195px;
    background: #F8FAFC;
    color: #4BB7AC;
}

.modalCart-confirmPay {
    @include buttonModalCart();
    width: 195px;
    background: #4BB7AC;
    color: #FFFFFF;
    margin-left: 18px;
}

.modalCart-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    text-transform: capitalize;
    color: #111111;
}

.ovoNumber-topSide {
    display: flex;
}

.ovoNumber-title {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    color: #767676;
    margin-right: 10px;
}

.alertImg {
    position: relative;
    top: -5px;
    width: 18px;
    height: 18px;
}

.extraClass {
    font-family: "SF-Compact-Rounded", sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 15px !important;
    text-transform: capitalize !important;
    letter-spacing: 0.05em !important;
    color: #767676 !important;
    pointer-events: auto !important;
    width: 268px !important;
    background: #F8FAFC !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 8px !important;
    opacity: 1 !important;
}

.ovoNumber-bottomSide {
    border: none;
    outline: none;
    width: 279px;
}

.ovoNumber-alert {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #DC6A84;
}

.modalCart-selectLayout {
    padding: 0px 50px;
    margin-top: 24px
}

.modalCart-selectButton {
    @include buttonModalCart();
    background: #F8FAFC;
    color: #4BB7AC;
}

.modalCart-detailContent {
    margin-top: 13px;
}

.modalCart-radioSection {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
}

.modalCart-radioSection input[type="radio"] {
    display: none;
}

.modalCart-radioSection label {
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 81px;
    padding: 19px 25px 23px 25px;
    align-items: center;
    cursor: pointer;
}

.modalCart-radioSection input[type="radio"]:checked + label {
    border-color: #4bb7ac;
    background-color: #4bb7ac;
}

.modalCart-radioSection input[type="radio"]:checked + label .modalCart-radioTitle {
    color: #ffffff;
}

.modalCart-radioSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalCartradio-image {
    width: 51px;
    height: 51px;
}

.modalCart-radioTitle {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    color: #111111;
    margin-left: 18px;
}

.modalCart-detailTotalPrice {
    margin-top: 30px;
}

.modalCart-totalPrice, .modalCart-discount {
    display: flex;
    justify-content: space-between;
}

.modalCart-totalPrice {
    margin-bottom: 20px;
}

.modalCart-totalPrice-left, .modalCart-discount-left {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 17px;
    text-transform: capitalize;
    color: #767676;
}

.modalCart-totalPrice-right, .modalCart-discount-right {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 17px;
    text-transform: capitalize;
    color: #111111;
}

@media (max-width: 768px) {
    .modalCartContent {
        width: 384px; /* Max width where it stops expanding */
        min-height: 128px; /* Height in proportion to its parent container*/
        height: auto; /* Max Height where it stops expanding */
        margin-top: 10vh;
    }
    
    .iconCloseNarrow {
        padding: 15px;
    }
    
    .closeLogoNarrow {
        height: 12px;
        width: 12px;
    }

    .modalCart-paymentLayout {
        padding: 50px 43px 35px 36px;
    }
    
    .modalCart-paymentTitle {
        font-size: 15px;
    }
    
    .modalCart-paymentCheck {
        margin-top: 37px;
    }
    
    .modalCart-cancelPay {
        width: 143px;
        height: 38px;
        font-size: 15px;
    }
    
    .modalCart-confirmPay {
        width: 143px;
        height: 38px;
        font-size: 15px;
    }
    
    .modalCart-detail {
        padding: 23px 16px 24px 17px;
    }
    
    .modalCart-title {
        font-size: 15px;
    }
    
    .ovoNumber-title {
        font-size: 14px;
        line-height: 17px;
    }

    .alertImg {
        top: -6px;
        width: 16px;
        height: 16px;
    }
    
    .extraClass {
        font-size: 10px !important;
        line-height: 12px !important;
        width: 200px !important;
    }

    .ovoNumber-bottomSide {
        width: 188px;
    }

    .ovoNumber-alert {
        font-size: 12px;
        line-height: 14px;
    }

    .modalCart-selectLayout {
        padding: 0px 110px;
    }
    
    .modalCart-selectButton {
        height: 38px;
        border-radius: 8px;
        font-size: 15px;
    }
    
    .modalCart-detailContent {
        margin-top: 13px;
    }
    
    .modalCart-radioSection {
        margin: 0;
        padding: 0;
        margin-bottom: 14px;
    }
    
    .modalCart-radioSection input[type="radio"] {
        display: none;
    }
    
    .modalCart-radioSection label {
        border-radius: 10px;
        height: 46px;
        padding: 12px 12px 11px 12px;
    }
    
    .modalCartradio-image {
        width: 23px;
        height: 23px;
    }
    
    .modalCart-radioTitle {
        font-size: 14px;
        margin-left: 10px;
    }
    
    .modalCart-detailTotalPrice {
        margin-top: 20px;
    }
    
    .modalCart-totalPrice {
        margin-bottom: 14px;
    }
    
    .modalCart-totalPrice-left, .modalCart-discount-left {
        font-size: 15px;
    }
    
    .modalCart-totalPrice-right, .modalCart-discount-right {
        font-weight: bold;
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    .modalCartContent {
        width: 350px; /* Max width where it stops expanding */
    }
}

@media (max-width: 325px) {
    .modalCartContent {
        width: 300px; /* Max width where it stops expanding */
    }
}

/* Add Animation */
@-webkit-keyframes animacartmove {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animacartmove {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
