@font-face {
    font-family: "SF-Compact-Rounded";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Semibold";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

.modalCartPage {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 3; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: hidden; /* Enable scroll if needed */
}

.modalCartContent {
    background-color: white;
    position: relative;
    // max-width: 675px; /* Width in proportion to its parent container*/
    width: 675px; /* Max width where it stops expanding */
    min-height: 213px; /* Height in proportion to its parent container*/
    height: auto; /* Max Height where it stops expanding */
    margin: auto; /* Auto margin according to the element width */
    margin-top: 181px;
    border: none;
    border-radius: 20px; /* Optional. Rounds container corners */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: auto;
}

.iconCloseNarrow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    padding: 26.4px;
}

.closeLogoNarrow {
    height: 22px;
    width: 22px;
}

.modalCart-detail {
    padding: 40.5px 27px 35px 28px;
}

.modalCart-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    text-transform: capitalize;
    color: #111111;
}

.modalCart-detailContent {
    margin-top: 13px;
}

.modalCart-radioSection {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
}

.modalCart-radioSection input[type="radio"] {
    display: none;
}

.modalCart-radioSection label {
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    height: 81px;
    padding: 19px 25px 23px 25px;
    align-items: center;
    cursor: pointer;
}

.modalCart-radioSection input[type="radio"]:checked + label {
    border-color: #4bb7ac;
    background-color: #4bb7ac;
}

.modalCart-radioSection input[type="radio"]:checked + label .modalCart-radioTitle {
    color: #ffffff;
}

.modalCart-radioSection input[type="radio"]:checked + label .modalCartradio-image {
    filter: brightness(0) invert(1);
}

.modalCart-radioSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalCartradio-image {
    width: 51px;
    height: 51px;
}

.modalCart-radioTitle {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    color: #111111;
    margin-left: 18px;
}

.modalCart-detailTotalPrice {
    margin-top: 30px;
}

.modalCart-totalPrice, .modalCart-discount {
    display: flex;
    justify-content: space-between;
}

.modalCart-totalPrice {
    margin-bottom: 20px;
}

.modalCart-totalPrice-left, .modalCart-discount-left {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 17px;
    text-transform: capitalize;
    color: #767676;
}

.modalCart-totalPrice-right, .modalCart-discount-right {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 17px;
    text-transform: capitalize;
    color: #111111;
}

@media (max-width: 768px) {
    .modalCartContent {
        width: 384px; /* Max width where it stops expanding */
        min-height: 128px; /* Height in proportion to its parent container*/
        height: auto; /* Max Height where it stops expanding */
        margin-top: 40vh;
    }
    
    .iconCloseNarrow {
        padding: 15px;
    }
    
    .closeLogoNarrow {
        height: 12px;
        width: 12px;
    }
    
    .modalCart-detail {
        padding: 23px 16px 24px 17px;
    }
    
    .modalCart-title {
        font-size: 15px;
    }
    
    .modalCart-detailContent {
        margin-top: 13px;
    }
    
    .modalCart-radioSection {
        margin: 0;
        padding: 0;
        margin-bottom: 14px;
    }
    
    .modalCart-radioSection input[type="radio"] {
        display: none;
    }
    
    .modalCart-radioSection label {
        border-radius: 10px;
        height: 46px;
        padding: 12px 12px 11px 12px;
    }
    
    .modalCartradio-image {
        width: 23px;
        height: 23px;
    }
    
    .modalCart-radioTitle {
        font-size: 14px;
        margin-left: 10px;
    }
    
    .modalCart-detailTotalPrice {
        margin-top: 20px;
    }
    
    .modalCart-totalPrice {
        margin-bottom: 14px;
    }
    
    .modalCart-totalPrice-left, .modalCart-discount-left {
        font-size: 15px;
    }
    
    .modalCart-totalPrice-right, .modalCart-discount-right {
        font-weight: bold;
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    .modalCartContent {
        width: 350px; /* Max width where it stops expanding */
    }
}

@media (max-width: 325px) {
    .modalCartContent {
        width: 300px; /* Max width where it stops expanding */
    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
