.jumbotron {
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  margin-bottom: -15%;
}

.jumbotron > h1 {
  font-weight: bolder;
  margin-top: 20%;
}

.jumbotron > img {
  margin-top: 30px;
  height: 80%;
  width: 50%;
}
