@import "./Variable/PikaColor.scss";
@import "./ProductLayout.scss";
@import "./NavigationLayout.scss";
@import "./JumbotronLayout.scss";
body {
    background-color: inherit;
}
body .bodySecondary {
    background-color: $secondary-color;
}
body .bodyPrimary {
    background-color: $primary-color;
}

.container {
    background-color: white;
    border-radius: 36px;
    z-index: 1;
    padding: 40px 0;
}

.wrapper {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

.row {
    margin-bottom: 10px;
}