@import "./Variable/PikaColor.scss";
@import "./ProductLayout.scss";
@import "./NavigationLayout.scss";
@import "./JumbotronLayout.scss";
@import "./CartLayout.scss";
@import "./StatusLayout.scss";
body {
  background-color: inherit;
}
body .bodySecondary {
  background-color: $secondary-color;
}
body .bodyPrimary {
  background-color: $primary-color;
}

@media (min-width: 768px) {
  .container {
    background-color: white;
    border-radius: 36px;
    z-index: 1;
    padding: 40px 0;
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .container {
    background-color: white;
    border-radius: 36px;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    min-height: 100vh;
    padding-top: 16px;
  }
  h2 {
    font-size: 22px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.row {
  margin-bottom: 10px;
}
