@font-face {
    font-family: "SF-Compact-Rounded";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Semibold";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

.modalMenuDetail {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 3; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: hidden; /* Enable scroll if needed */
    // padding-top: 0px; /* Location of the content container */
}

.modal-content-menudetail {
    background-color: white;
    position: relative;
    width: 80vw; /* Width in proportion to its parent container*/
    max-width: 968px; /* Max width where it stops expanding */
    height: 90vh; /* Height in proportion to its parent container*/
    max-height: 655px; /* Max Height where it stops expanding */
    margin: auto; /* Auto margin according to the element width */
    margin-top: 5vh;
    border: none;
    border-radius: 50px; /* Optional. Rounds container corners */
    -webkit-animation-name: animamenumove;
    -webkit-animation-duration: 0.4s;
    animation-name: animamenumove;
    animation-duration: 0.4s;
    overflow: auto;
}

.modal-content-menudetail::-webkit-scrollbar {
    display: none;
}

.iconClose {
    display: block;
    position: absolute;
    top: 30px;
    left: 41px;
    z-index: 1;
    cursor: pointer;
}

.closeLogo {
    height: 22px;
    width: 22px;
}

.iconBack {
    display: block;
    position: absolute;
    top: 21px;
    left: 37px;
    z-index: 1;
    cursor: pointer;
}

.backLogo {
    height: 36px;
    width: 36px;
}

.menuDetail-layout {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.menuContain-left {
    //menu image and detail section
    width: 47%;
    height: 100%;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    padding: 61px 25px 52px 39px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.05);
}

.menuBanner {
    width: 250px;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
}

.menuimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.menu-detail {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 13px;
}

.menu-star {
    display: flex;
    justify-content: center;
    height: 32px;
    padding-top: 5px;
    max-width: 71px;
    background-color: #eeeeee;
    border-radius: 20px;
    margin-bottom: 12px;
}

.menu-star-img {
    width: 20px;
    height: 20px;
}

.menu-star-rating {
    font-family: "SF-Compact-Rounded-Medium", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    text-transform: capitalize;
    margin-left: 5px;
}

.menu-name {
    max-width: 300px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    text-transform: capitalize;
    color: #000000;
    line-height: 30px;
}

.menu-category {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    color: #767676;
    text-transform: capitalize;
}

.menu-price {
    min-width: 160px;
    width: auto;
    font-family: "SF-Compact-Rounded-Semibold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #000000;
    margin-top: 55px;
}

.menuContain-right {
    width: 53%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menuDesc {
    //menu description section
    position: relative;
    height: calc(100% - 133px);
    padding: 48px 40px 0px 35px;
}

.menuDesc-title {
    width: 100%;
    font-family: "SF-Compact-Rounded-Semibold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #111111;
}

.menuDesc-content {
    white-space: pre-line;
    width: 100%;
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    text-transform: capitalize;
    color: #767676;
    margin-top: 8px;
}

.menuButton {
    //menu button bottom section
    // position: sticky;
    // bottom: 0;
    // right: 0;
    height: 133px;
    padding: 17px 23px 19px 18px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1);
}

.openMenuSelection {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 97px;
    background-color: #4bb7ac;
    width: auto;
    border-radius: 20px;
    cursor: pointer;
}

.add-words {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 20px;
    text-transform: capitalize;
    color: #ffffff;
}

@media (max-width: 768px) {
    .mob-modalMenuDetail {
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Overlay effect: translucent background: black w/ partial opacity */
        z-index: 3; /* Overlay effect: positioned over other containers */
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        position: fixed; /* Fix position on the top-left corner*/
        top: 0;
        left: 0;
        overflow: hidden; /* Enable scroll if needed */
        padding-top: 25px; /* Location of the content container */
    }
    /* Modal content */
    .mob-modal-content-menudetail {
        background-color: white;
        width: 88vw; /* Width in proportion to its parent container*/
        height: auto; /* Height in proportion to its parent container */
        margin: auto; /* Auto margin according to the element width */
        border: none;
        border-radius: 20px; /* Optional. Rounds container corners */
        -webkit-animation-name: animamenumove;
        -webkit-animation-duration: 0.4s;
        animation-name: animamenumove;
        animation-duration: 0.4s;
        overflow: auto;
    }

    .mob-menuBanner {
        display: block;
        position: relative;
        width: 100%;
        height: 169px;
        border-radius: 20px;
    }

    .mob-menuimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .mob-iconClose {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
    }

    .mob-closeLogo {
        height: 15px;
        width: 15px;
    }

    .mob-menuContain {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
    }

    .mob-inside-menuContain {
        display: flex;
        justify-content: space-between;
        padding: 15px 19px 14px 18px;
    }

    .mob-menu-detail {
        margin: 0;
        padding: 0;
    }

    .mob-menu-star {
        display: flex;
        justify-content: center;
        height: auto;
        padding-top: 6px;
        padding-bottom: 0px;
        max-width: 51px;
        background-color: #f5f6f7;
        border-radius: 20px;
        margin-bottom: 16px;
    }

    .mob-menu-star-img {
        width: 12px;
        height: 12px;
    }

    .mob-menu-star-rating {
        font-family: "SF-Compact-Rounded", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #111111;
        text-transform: capitalize;
        font-size: 12px;
        margin-left: 4.5px;
    }

    .mob-menu-name {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-transform: capitalize;
        color: #111111;
        max-width: 181px;
        font-size: 18px;
        line-height: 20px;
    }

    .mob-menu-category {
        font-family: "SF-Compact-Rounded", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #767676;
        text-transform: capitalize;
        line-height: 20px;
        font-size: 14px;
    }

    .mob-menuDesc {
        height: auto;
        padding: 0px 19px 21px 18px;
    }

    .mob-menu-desc {
        white-space: pre-line;
        font-family: "SF-Compact-Rounded", sans-serif;
        font-style: normal;
        font-weight: normal;
        text-transform: capitalize;
        color: #767676;
        // max-width: 320px;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
    }

    .mob-menu-price {
        width: auto;
        font-family: "SF-Compact-Rounded", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #111111;
        min-width: 78px;
        font-size: 22px;
        margin-top: 45px;
    }

    .mob-menuButton {
        padding: 9px 19px 15px 17px;
    }

    .mob-openMenuSelection {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        height: 50px;
        border-radius: 10px;
    }

    .mob-add-words {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        text-transform: capitalize;
        color: #ffffff;
        line-height: 20px;
        font-size: 18px;
    }
}

/* Add Animation */
@-webkit-keyframes animamenumove {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animamenumove {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
