@font-face {
    font-family: "SF-Compact-Rounded", sans-serif;
    src: url(../Font//FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

.modalMenuDetail {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 3; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
}
/* Modal content */
.modal-content {
    background-color: white;
    width: calc(100% - 100px); /* Width in proportion to its parent container*/
    max-width: 100%; /* Max width where it stops expanding */
    height: auto; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    border: none;
    border-radius: 50px; /* Optional. Rounds container corners */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.menuBanner {
    width: 100%;
    height: 580px;
    display: block;
    position: relative;
    border-radius: 50px;
}

.menuimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px 50px 0px 0px;
}

.iconClose {
    display: flex;
    position: absolute;
    top: 56px;
    right: 52px;
}

.closeLogo {
    height: 45px;
    width: 45px;
}

.menuContain {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    padding: 41px 42px 46px 43px;
}

.inside-menuContain {
    display: flex;
    justify-content: space-between;
}

.menu-detail {
    margin: 0;
    padding: 0;
}

.menu-star {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
    max-width: 143px;
    height: auto;
    background-color: #eeeeee;
    border-radius: 20px;
    margin-bottom: 48px;
}

.menu-star-img {
    width: 38px;
    height: 38px;
}

.menu-star-rating {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    color: #111111;
    text-transform: capitalize;
    margin-left: 10px;
}

.menu-name {
    max-width: 570px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;
    color: #111111;
    line-height: 50px;
}

.menu-category {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    font-style: normal;
    color: #767676;
    text-transform: capitalize;
}

.menu-desc {
    max-width: 300px;
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 50px;
    text-transform: capitalize;
    color: #767676;
    margin-top: 55px;
}

.menu-price {
    min-width: 180px;
    width: auto;
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #111111;
    margin-top: 116px;
}

.addtocart {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    height: 121px;
    background-color: #4bb7ac;
    width: auto;
    border-radius: 20px;
}

.add-words {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;
    color: #ffffff;
    line-height: 20px;
}

@media (max-width: 480px) {
    .modal-content {
        width: calc(100% - 60px); /* Width in proportion to its parent container*/
        height: auto; /* Height in proportion to its parent container */
        border-radius: 20px; /* Optional. Rounds container corners */
    }

    .menuBanner {
        height: 168px;
        border-radius: 20px;
    }

    .menuimg {
        border-radius: 20px 20px 0px 0px;
    }

    .iconClose {
        top: 20px;
        right: 19px;
    }

    .closeLogo {
        height: 15px;
        width: 15px;
    }

    .menuContain {
        padding: 18px 19px 17px 18px;
    }

    .menu-star {
        padding-top: 6px;
        padding-bottom: 0px;
        max-width: 51px;
        background-color: #f5f6f7;
        border-radius: 20px;
        margin-bottom: 16px;
    }

    .menu-star-img {
        width: 11.7px;
        height: 11.7px;
    }

    .menu-star-rating {
        font-size: 12px;
        margin-left: 4.5px;
    }

    .menu-name {
        max-width: 181px;
        font-size: 18px;
        line-height: 20px;
    }

    .menu-category {
        line-height: 20px;
        font-size: 14px;
    }

    .menu-desc {
        max-width: 120px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 12px;
    }

    .menu-price {
        min-width: 78px;
        font-size: 22px;
        margin-top: 45px;
    }

    .addtocart {
        margin-top: 30px;
        height: 50px;
        border-radius: 10px;
    }

    .add-words {
        font-weight: bold;
        font-size: 18px;
    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
