.icon {
  vertical-align: middle;
  width: 60%;
  height: 60%;
  max-width: 220px;
  max-height: 100px;
}

.iconStatus {
  vertical-align: middle;
  width: 70%;
  height: 70%;
  max-width: 220px;
  max-height: 100px;
  margin-top: 10px;
}

.listTitle {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 54px;
  padding: 3rem 1rem 0.5rem 6rem;
}

.listTitleContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .statusCenter {
    width: 200px;
    height: 30px;
    margin-right: 140px;
  }
  .cartCenter {
    width: 150px;
    height: 35px;
    margin-right: 140px;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    position: absolute;
    left: 55%;
    transform: translateX(-55%);
  }
  .navbar-center {
    position: absolute;
    width: 300px;
    height: 40px;
    padding-left: 100px;
  }
  .statusCenter {
    position: absolute;
    width: 200px;
    height: 30px;
    margin-left: -8%;
  }
  .cartCenter {
    position: absolute;
    width: 150px;
    height: 35px;
    margin-left: -5%;
  }
  .navbar {
    width: 100%;
    padding : 0.5rem 0rem 0.5rem 0.5rem;
  }
  .listTitle {
    padding : 0.5rem 0rem 0.5rem 0rem;
  }
  .iconStatus {
    width: 60%;
    height: 60%;
  }
  .listTitleContent {
    font-size: 20px;
  }
}