.icon {
  vertical-align: middle;
  width: 80%;
  height: 80%;
  max-width: 220px;
  max-height: 100px;
}

@media (min-width: 768px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    position: absolute;
    left: 55%;
    transform: translateX(-55%);
  }
  .navbar-center {
    position: absolute;
    width: 300px;
    height: 40px;
    padding-left: 100px;
  }
}

.navbar-brand > img {
  width: 50%;
  height: 50%;
}
