@font-face {
  font-family: "SF-Compact-Rounded";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
  font-family: "SF-Compact-Rounded-Medium";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
  font-family: "SF-Compact-Rounded-Semibold";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

@media (min-width: 768px) {
  .orderDetailLayout {
    width: 480px !important;
    // margin-left: 31%;
    padding: 20px 17px 26px 17px;
    background-color: #ffffff;
  }
}

.orderDetailLayout {
  // width: 98vw;
  // padding: 20px 117px 20px 107px;
  background-color: #ffffff;
}

.orderDetailTitle {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 54px;
  // margin-bottom: 41px;
  margin-bottom: 10px;
}

.logopikappCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoPikapporderDetail {
  // width: 46px;
  // height: 43px;
  width: 36px;
  height: 33px;
  cursor: pointer;
}

.confirmationOrderDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  // font-size: 25px;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  margin-left: 20px;
}

.orderDetailContent {
  display: flex;
  flex-direction: column;
}

.orderDetail-LeftSide {
  // width: 50%;
  width: 100%;
  // display: flex;
  // width: auto;
  // justify-content: center;
}

//orderDetailList start
.orderDetailList {
  max-width: 477px;
  width: auto;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #e5e5e5;
  margin-bottom: 30px;
}

.orderDetailList-header {
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f6f7;
  height: 40px;
  padding-top: 7px;
  padding-left: 14.5px;
}

.orderDetailList-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderDetailList-content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 22.5px 17.5px 36px 14.5px;
  margin-bottom: 7px;
}

.orderDetailList-content-frame {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
}

.orderDetailList-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.orderDetailList-content-detail {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.orderDetailList-content-detail-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
}

.orderDetailList-content-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  max-width: 150px;
}

.orderDetailList-content-choice,
.orderDetailList-content-notes {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #767676;
  max-width: 150px;
}

.orderDetailList-content-price {
  font-family: "SF-Compact-Rounded-Semibold", sans-serif;
  font-style: normal;
  // font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  // color: #111111;
  color: #767676;
}

.orderDetailList-content-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.orderDetailList-editButton {
  width: 62px;
  height: 27.5px;
  border: 2px solid #4bb7ac;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.orderDetailList-editWord {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #4bb7ac;
}

.orderDetailList-amountBox {
  margin: 0;
  padding: 0;
}

.orderDetailList-amountBox-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.orderDetailList-minusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  background-color: #4bb7ac;
  cursor: pointer;
}

.orderDetailList-minusSym {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.orderDetailList-numberArea {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #111111;
  margin-left: 12px;
  margin-right: 12px;
}

.orderDetailList-plusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  background-color: #4bb7ac;
  cursor: pointer;
}

.orderDetailList-plusSym {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
//orderDetailList end

.orderDetail-RightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 50%;
  width: auto;
}

.flex-RightSide-orderDetail {
  // margin-left: auto;
  margin-left: 0;
}

//orderDetailStoreBox start
.orderDetail-storeBox {
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  min-width: 477px;
  width: auto;
  margin-bottom: 40px;
}

.orderDetail-storeBox-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: auto;
  padding: 12px 15px 7px 15px;
  border-radius: 8px 8px 0px 0px;
}

.orderDetail-storeBox-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  max-width: 300px;
}

.orderDetail-storeBox-distance {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderDetail-storeBox-content {
  display: flex;
  justify-content: start;
  padding: 12px 15px 12px 16px;
  height: auto;
}

.orderDetail-storeBox-descArea {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  width: auto;
}
//orderDetailStoreBox end

//orderDetailtransaction start
.orderDetail-transaction-detail {
  // box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  // min-width: 477px;
  width: auto;
  margin-bottom: 30px;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
}

.orderDetail-transaction {
  // box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 450px;
  width: auto;
  margin-bottom: 30px;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
}

.orderDetail-transaction-header-detail {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #4bb7ac;
  color: #f5f6f7;
  height: 40px;
  padding: 0px 0px 0px 15px;
  border-radius: 8px 8px 0px 0px;
}

.orderDetail-transaction-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: 40px;
  padding: 0px 0px 0px 15px;
  border-radius: 8px 8px 0px 0px;
}

.orderDetail-transaction-title-detail {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.orderDetail-transaction-header-unpaid {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #DC6A84;
  color: #f5f6f7;
  height: 40px;
  padding: 0px 0px 0px 15px;
  border-radius: 8px 8px 0px 0px;
}

.orderDetail-transaction-title-unpaid {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.orderDetail-transaction-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderDetail-transaction-selectButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.orderDetail-transaction-selectIcon {
  width: 20px;
  height: 12px;
}

.orderDetail-transaction-content {
  padding: 10px 10px 10px 12px;
}

.orderDetail-transaction-descArea {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
}

.orderDetail-transaction-descArea-content {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #767676;
}

.orderDetail-transaction-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #767676;
}

.orderDetail-transaction-payment-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111111;
  font-weight: bold;
}

.orderDetail-transaction-paymentoption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #767676;
  margin-bottom: 10px;
  // border-bottom: 1px solid #c4c4c4;
}

.orderDetail-transaction-payment-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #767676;
  margin-top: 10px;
  // border-top: 1px solid #c4c4c4;
}

.orderDetail-payment-border {
  border-top : 1px solid #c4c4c4;
}

// .orderDetail-transaction-logo {
//   width: 33px;
//   height: 33px;
// }

.orderDetail-transaction-words {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  padding-top: 7px;
  margin-left: 7px;
}
//orderDetailtransaction end

//orderDetailPaymentService start
.orderDetail-paymentService {
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 477px;
  width: auto;
  margin-bottom: 42px;
  cursor: pointer;
}

.orderDetail-paymentService-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: 40px;
  padding: 0px 0px 0px 15px;
}

.orderDetail-paymentService-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderDetail-paymentService-selectButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.orderDetail-paymentService-selectIcon {
  width: 20px;
  height: 12px;
}

.orderDetail-paymentService-content {
  padding: 10px 10px 10px 15px;
}

.orderDetail-paymentService-descArea {
  display: flex;
  justify-content: start;
  align-items: center;
}

.orderDetail-paymentService-logo {
  width: 26px;
  height: 26px;
}

.orderDetail-paymentService-words {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  padding-top: 4px;
  margin-left: 7px;
}
//orderDetailPaymentService end

//orderDetailCheckout start
.orderDetail-checkoutArea {
  display: flex;
  justify-content: space-between;
  min-width: 477px;
  width: auto;
}

.orderDetailLayout-mob {
  display: none;
}

.orderDetail-TotalAmount {
  min-width: 182px;
  width: auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 6px 20px 6px 12px;
  cursor: pointer;
}

.orderDetail-TotalAmount-title {
  display: flex;
  justify-content: start;
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderDetail-TotalAmount-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.orderDetail-TotalAmount-price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderDetail-TotalAmount-detailArrow {
  width: 20px;
  height: 12px;
}

.orderDetail-OrderButton {
  display: flex;
  justify-content: space-between;
  background-color: #4bb7ac;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 16px 12px 16px 19px;
  min-width: 283px;
  width: auto;
  cursor: pointer;
}

.orderDetail-OrderButton-content {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.orderDetail-OrderButton-content {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

// .loadedContent {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   position: relative;
//   align-items: center;
// }

.orderDetail-OrderButton-Frame {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderDetail-OrderButton-checklist {
  width: 14px;
  height: 10px;
}

.orderDetail-OrderButton-word {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 7px;
  margin-left: 14px;
}

.orderDetail-OrderButton-orderArrow {
  width: 11px;
  height: 18px;
}

.orderDetailContent {
  display: flex;
  justify-content: center;
}

.buttonPayment-orderDetail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.submitPayment-orderDetail {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #4bb7ac;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  cursor: pointer;
}

.wordsButton-orderDetail {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
}

.menu-counter-orderdetail {
  width: 75px;
  color: #ffffff;
  font-weight: bold;
}

.orderdetail-transaction-logo {
  width: 22px;
  height: 22px;
  margin-right: 3px;
}

//orderDetailCheckout end

@media (max-width: 768px) {
  .orderDetailLayout {
    width: 100vw;
    padding: 20px 17px 26px 17px;
  }

  .LogoPikapporderDetail {
    width: 36px;
    height: 33px;
  }

  .orderDetailTitle {
    // flex-direction: column;
    // align-items: flex-start;
    // height: 104px;
    margin-bottom: 10px;
  }

  .confirmationOrderDetail {
    font-size: 20px;
  }

  .orderDetailContent {
    flex-direction: column;
  }

  .orderDetail-LeftSide {
    display: flex;
    width: auto;
    justify-content: center;
  }

  //orderDetailList start
  .orderDetailList {
    max-width: 381px;
    margin-bottom: 30px;
  }

  .orderDetailList-header {
    height: 32px;
    padding-top: 4px;
    padding-left: 11px;
  }

  .orderDetailList-title {
    font-size: 15px;
  }

  .orderDetailList-content {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 18px 12.5px 14px 13px;
    margin-bottom: 4px;
  }

  .orderDetailList-content-frame {
    width: 94px;
    height: 94px;
  }

  .orderDetailList-content-detail {
    width: 240px;
  }

  .orderDetailList-content-detail-left {
    max-width: 150px;
    width: auto;
  }

  .orderDetailList-content-title {
    font-size: 15px;
  }

  .orderDetailList-content-choice,
  .orderDetailList-content-notes {
    font-size: 12px;
  }

  .orderDetailList-content-price {
    font-size: 15px;
  }

  .orderDetailList-editButton {
    width: 49.5px;
    height: 22px;
    border: 1px solid #4bb7ac;
  }

  .orderDetailList-editWord {
    font-weight: 500;
    font-size: 12px;
  }

  .orderDetailList-minusBox {
    width: 23px;
    height: 23px;
  }

  .orderDetailList-minusSym {
    font-size: 15px;
  }

  .orderDetailList-numberArea {
    margin-left: 10px;
    margin-right: 10px;
  }

  .orderDetailList-plusBox {
    width: 23px;
    height: 23px;
  }

  .orderDetailList-plusSym {
    font-size: 15px;
  }
  //orderDetailList end

  .orderDetail-RightSide {
    align-items: center;
    width: auto;
  }

  .flex-RightSide-orderDetail {
    margin-left: 0;
  }

  //orderDetailStoreBox start
  .orderDetail-storeBox {
    border: 0.5px solid #f5f6f7;
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 24px;
    margin-top: 32px;
  }

  .orderDetail-storeBox-header {
    height: auto;
    padding: 5px 12px 0px 12px;
  }

  .orderDetail-storeBox-title {
    max-width: 250px;
    font-size: 15px;
  }

  .orderDetail-storeBox-distance {
    font-size: 10px;
  }

  .orderDetail-storeBox-content {
    padding: 8px 12px 8px 13px;
  }

  .orderDetail-storeBox-descArea {
    font-size: 12px;
  }
  //orderDetailStoreBox end

  //orderDetailtransaction start
  .orderDetail-transaction {
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 24px;
  }

  .orderDetail-transaction-header {
    height: 32px;
    padding: 0px 0px 0px 12px;
  }

  .orderDetail-transaction-title {
    font-size: 15px;
  }

  .orderDetail-transaction-selectButton {
    width: 32px;
    height: 32px;
  }

  .orderDetail-transaction-selectIcon {
    width: 17px;
    height: 10px;
  }

  .orderDetail-transaction-logo {
    width: 22px;
    height: 22px;
  }

  .orderDetail-transaction-words {
    font-size: 15px;
    padding-top: 7px;
    margin-left: 7px;
  }
  //orderDetailtransaction end

  //orderDetailPaymentService start
  .orderDetail-paymentService {
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 0px;
  }

  .orderDetail-paymentService-header {
    height: 32px;
    padding: 0px 0px 0px 12px;
  }

  .orderDetail-paymentService-title {
    font-size: 15px;
  }

  .orderDetail-paymentService-selectButton {
    width: 32px;
    height: 32px;
  }

  .orderDetail-paymentService-selectIcon {
    width: 17px;
    height: 10px;
  }

  .orderDetail-paymentService-content {
    padding: 10px 10px 10px 12px;
  }

  .orderDetail-paymentService-logo {
    width: 21px;
    height: 21px;
  }

  .orderDetail-paymentService-words {
    font-size: 15px;
    padding-top: 4px;
    margin-left: 7px;
  }
  //orderDetailPaymentService end

  //orderDetailCheckout start
  .orderDetail-checkoutArea {
    display: none;
  }

  .orderDetailLayout-mob {
    display: block;
    position: sticky;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
    // padding-bottom: 17px;
  }

  .orderDetail-checkoutArea-mob {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: #ffffff;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 40px 40px;
    height: 81px;
    padding: 14px 17px 16px 27px;
  }

  .orderDetail-TotalAmount-mob {
    min-width: 100px;
    max-width: 283px;
    width: auto;
    background-color: #ffffff;
  }

  .orderDetail-TotalAmount-title-mob {
    display: flex;
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: #111111;
  }

  .orderDetail-TotalAmount-bottom-mob {
    display: flex;
    justify-content: space-between;
  }

  .orderDetail-TotalAmount-price-mob {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
    color: #111111;
    margin-right: 10px;
  }

  .orderDetail-TotalAmount-detailArrowCenter-mob {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }

  .orderDetail-TotalAmount-detailArrow-mob {
    width: 20px;
    height: 12px;
  }

  .orderDetail-OrderButton-mob {
    display: flex;
    justify-content: space-between;
    background-color: #4bb7ac;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 12px 12px 13px 19px;
    max-width: 283px;
    min-width: 165px;
    width: auto;
    height: 51px;
  }

  .orderDetail-OrderButton-content-mob {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .orderDetail-OrderButton-Frame-mob {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orderDetail-OrderButton-checklist-mob {
    width: 14px;
    height: 10px;
  }

  .orderDetail-OrderButton-word-mob {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #ffffff;
    padding-top: 9px;
    margin-left: 14px;
  }

  .orderDetail-OrderButton-orderArrowCenter-mob {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orderDetail-OrderButton-orderArrow-mob {
    width: 11px;
    height: 18px;
  }

  .buttonPayment-orderDetail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .submitPayment-orderDetail {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #4bb7ac;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    cursor: pointer;
  }

  .wordsButton-orderDetail {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
  }

  .menu-counter-orderdetail {
    width: 60px;
    color: #ffffff;
    font-weight: bold;
  }

  .orderDetail-transaction-detail {
    // box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 0px;
    width: auto;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
  }
  //orderDetailCheckout end
}

@media (max-width: 450px) {
  .orderDetail-LeftSide {
    display: block;
    width: auto;
    justify-content: flex-start;
  }
}

@media (max-width: 380px) {
  //orderDetailList start
  .orderDetailList {
    max-width: 350px;
  }

  .orderDetailList-content-detail {
    max-width: 300px;
    width: 200px;
  }

  .orderDetailList-content-detail-left {
    max-width: 130px;
    width: 100px;
  }

  .orderDetailList-content-title {
    font-size: 15px;
  }
  //orderDetailList end

  .flex-RightSide-orderDetail {
    margin-left: auto;
  }

  //orderDetailStoreBox start
  .orderDetail-storeBox {
    min-width: 340px;
    max-width: 340px;
  }
  //orderDetailStoreBox end

  //orderDetailtransaction start
  .orderDetail-transaction {
    min-width: 340px;
    max-width: 340px;
  }
  //orderDetailtransaction end

  //orderDetailPaymentService start
  .orderDetail-paymentService {
    min-width: 340px;
    max-width: 340px;
  }
  //orderDetailPaymentService end
}

@media (max-width: 325px) {
  //orderDetailList start
  .orderDetailList {
    min-width: 290px;
    max-width: 290px;
  }

  .orderDetailList-content-detail {
    max-width: 150px;
    width: 150px;
  }

  .orderDetailList-content-detail-left {
    max-width: 100px;
    width: 100px;
  }

  .orderDetailList-content-title {
    font-size: 12px;
  }

  .orderDetailList-content-choice,
  .orderDetailList-content-notes {
    font-size: 12px;
  }
  //orderDetailList end

  .flex-RightSide-orderDetail {
    margin-left: auto;
  }

  //orderDetailStoreBox start
  .orderDetail-storeBox {
    min-width: 290px;
    max-width: 290px;
  }
  //orderDetailStoreBox end

  //orderDetailtransaction start
  .orderDetail-transaction {
    min-width: 290px;
    max-width: 290px;
  }
  //orderDetailtransaction end

  //orderDetailPaymentService start
  .orderDetail-paymentService {
    min-width: 290px;
    max-width: 290px;
  }
  //orderDetailPaymentService end

  //orderDetailCheckout start
  .orderDetail-TotalAmount-mob {
    min-width: 100px;
    max-width: 100px;
  }

  .orderDetail-TotalAmount-title-mob {
    font-size: 10px;
  }

  .orderDetail-TotalAmount-price-mob {
    font-size: 12px;
    margin-right: 5px;
  }

  .orderDetail-TotalAmount-detailArrowCenter-mob {
    padding-top: 4px;
  }

  .orderDetail-TotalAmount-detailArrow-mob {
    width: 15px;
    height: 7px;
  }

  .orderDetail-OrderButton-mob {
    max-width: 200px;
    min-width: 145px;
  }

  .orderDetail-OrderButton-Frame-mob {
    width: 24px;
    height: 24px;
  }

  .orderDetail-OrderButton-checklist-mob {
    width: 12px;
    height: 8px;
  }

  .orderDetail-OrderButton-word-mob {
    font-size: 14px;
  }

  .orderDetail-OrderButton-orderArrow-mob {
    width: 9px;
    height: 16px;
  }
  //orderDetailCheckout end
}

// @media (min-width: 768px) {
//   .orderDetailTitle {
//     font-weight: bold;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailContent {
//     margin-left: 8px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailIcon {
//     width: 24px;
//     height: 24px;
//     margin-left: 16px;
//   }
//   .orderDetailNote {
//     font-size: 12px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailContentFood {
//     font-size: 16px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailContentPrice {
//     font-size: 14px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .iconButton {
//     background-color: transparent;
//     border: none;
//   }
//   .orderDetailFoodImage {
//     margin-left: 0;
//     margin-top: 0;
//     border-radius: 18px;
//     width: 60px;
//     height: 60px;
//     object-fit: cover;
//   }
//   .orderDetailPayment {
//     border-radius: 36px;
//     margin: 0 1.5%;
//     background-color: $primary-color;
//   }
//   .orderDetailFinalPrice {
//     font-weight: bold;
//     font-size: 16px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailFinalButton {
//     font-size: 16px;
//     font-weight: bold;
//     color: $secondary-color;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }

//   .orderDetailModalField {
//     text-align: center;
//     max-width: 40px;
//     max-height: 30px;
//     width: 100px;
//   }
//   .orderDetailModalField:disabled {
//     background-color: white;
//   }
//   .btn-orderDetailModalMiniButton {
//     border-radius: 24px;
//     background-color: #4bb7ac;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 0px;
//     color: white;
//     max-width: 40px;
//     max-height: 30px;
//     padding: 0 8;
//   }
//   .btn-orderDetailModalMiniButton:hover {
//     background-color: #5bc7bc;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 0px;
//     color: white;
//   }

//   .orderDetailModalOption {
//     font-weight: bold;
//     margin-left: 16px;
//     font-size: 18px;
//   }
//   .orderDetailModalImage {
//     width: 26px;
//     height: 26px;
//   }
// }

// @media (max-width: 768px) {
//   .orderDetailTitle {
//     font-weight: bold;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }

//   .orderDetailContent {
//     margin-left: 8px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailIcon {
//     width: 18px;
//     height: 18px;
//   }
//   .orderDetailNote {
//     margin-left: 8;
//     font-size: 8px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailContentFood {
//     font-size: 16px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailContentPrice {
//     font-size: 14px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .iconButton {
//     background-color: transparent;
//     border: none;
//   }
//   .orderDetailFoodImage {
//     margin-top: 0;
//     border-radius: 18px;
//     width: 60px;
//     height: 30x;
//     object-fit: cover;
//   }
//   .orderDetailPayment {
//     border-radius: 36px;
//     margin: 0 0.15%;
//     background-color: $primary-color;
//   }
//   .orderDetailFinalPrice {
//     font-weight: bold;
//     font-size: 16px;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }
//   .orderDetailFinalButton {
//     font-size: 16px;
//     font-weight: bold;
//     color: $secondary-color;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//     word-wrap: break-word;
//   }

//   .orderDetailModalField {
//     text-align: center;
//     max-width: 40px;
//     width: 100px;
//     max-height: 30px;
//   }
//   .orderDetailModalField:disabled {
//     background-color: white;
//   }
//   .btn-orderDetailModalMiniButton {
//     border-radius: 24px;
//     background-color: #4bb7ac;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 0px;
//     color: white;
//     max-width: 40px;
//     max-height: 30px;
//     padding: 0 8;
//   }
//   .btn-orderDetailModalMiniButton:hover {
//     background-color: #5bc7bc;
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 0px;
//     color: white;
//   }
//   .orderDetailModalOption {
//     font-weight: bold;
//     margin-left: 8px;
//     font-size: 14px;
//   }
//   .orderDetailModalImage {
//     width: 20px;
//     height: 20px;
//   }
// }
.verificationMsg {
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #DC6A84;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  line-height: 2;
}

.messageSend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.txtUnderline {
  text-decoration: underline;
  cursor: pointer;
  text-indent: 0.5em;
}

.txtDisabled {
  cursor: none;
  text-indent: 0.5em;
}

.txtBold {
  font-weight: bold;
  text-transform: lowercase;
}

.txtIndent {
  text-indent: 0.5em;
}

// order detail delivery
@media (min-width: 768px) {
  .manual-orderdetail-Layout {
    width: 480px !important;
    // margin-left: 31%;
    padding: 5px 17px 26px 17px;
    background-color: #ffffff;
    min-height: 619px;
  }
}

.manual-orderdetail-Layout {
  // width: 98vw;
  // padding: 20px 117px 20px 107px;
  background-color: #ffffff;
}

.manual-orderdetail-Title {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 54px;
  // margin-bottom: 41px;
  margin-bottom: 10px;
}

.manual-orderdetail-header {
  display: flex;
  flex-direction: row;
  padding: 14px 5px 14px 0px;
  background-color: #FFFFFF !important;
}

.manual-orderdetail-backicon {
  width: 23px;
  height: 23px;
}

.manual-orderdetail-titletext {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  color: #111111;
  margin-left: 16px;
}

.manual-orderdetail-Content {
  display: flex;
  flex-direction: column;
}

.manual-orderdetail-LeftSide {
  // width: 50%;
  width: 100%;
  // display: flex;
  // width: auto;
  // justify-content: center;
}

.manual-orderdetail-transaction-detail {
  // box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  // min-width: 477px;
  width: auto;
  margin-bottom: 30px;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
}

.manual-orderdetail-transaction-content {
  padding: 15px 20px 15px 20px;
}

.manual-orderdetail-transactionid {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-transform: capitalize;
  color: #111111;
  padding-top: 3px;
}

.manual-orderdetail-transactiondate {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-transform: capitalize;
  color: #767676;
  padding-top: 3px;
}

.manual-orderdetail-content-border {
  border-top : 1px solid #c4c4c4;
}

.manual-orderdetail-transaction-topSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  // text-align: center;
}

.manual-orderdetail-transaction-merchName {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #111111;
  margin-bottom: 8px;
  max-width: 350px;

  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.manual-orderdetail-content-icon {
  width: 28px;
}

.manual-orderdetail-item {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #494949;
  margin-bottom: 0px;
}

.manual-orderdetail-content-date {
  margin-bottom: 5px;
}

.manual-orderdetail-datetext {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-transform: capitalize;
  color: #4BB7AC;
}

.manual-orderdetail-transaction-centerSide {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // font-size: 15px;
  // font-family: "SF-Compact-Rounded", sans-serif;
  // font-style: normal;
  // font-weight: normal;
  // line-height: 15px;
  // color: #767676;
  // margin-bottom: 15px;
}

.manual-orderdetail-section-quantity {
  margin-top: 8px;
  width: 30px;
}

.manual-orderdetail-section-item {
  margin-top: 8px;
  width: auto;
}

.manual-orderdetail-content-quantity {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #767676;
  margin-bottom: 8px;
}

.manual-orderdetail-content-item {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  margin-bottom: 8px;
}

.manual-orderdetail-content-desc {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-transform: capitalize;
  color: #767676;
  margin-bottom: 8px;
}

.manual-orderdetail-section-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.manual-orderdetail-content-totalitem {
  font-size: 17px;
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #111111;
  margin-bottom: 8px;
  max-width: 350px;

  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.manual-orderdetail-content-totalprice {
  font-size: 17px;
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  color: #111111;
  margin-bottom: 8px;
  max-width: 350px;

  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.manual-orderdetail-transaction-item {
  display: flex;
  justify-items: start;
}

.manual-orderdetail-content-price {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  margin-bottom: 8px;
  display: flex;
  justify-content: end;
}

.manual-orderdetail-section-subtotal {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.manual-orderdetail-section-shippingprice {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .manual-orderdetail-Layout {
    width: 100vw;
    padding: 5px 17px 26px 17px;
    min-height: 725px;
  }
}