@font-face {
  font-family: "SF-Compact-Rounded";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
  font-family: "SF-Compact-Rounded-Medium";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
  font-family: "SF-Compact-Rounded-Semibold";
  src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

@media (min-width: 768px) {
  .orderLayout {
    width: 480px !important;
    // margin-left: 31%;
    padding: 20px 17px 26px 17px;
  }
}

.orderLayout {
  width: 98vw;
  // padding: 20px 117px 20px 107px;
  padding: 20px 17px 26px 17px;
  background-color: #ffffff;
}

.orderTitle {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 54px;
  // margin-bottom: 35px;
  margin-bottom: 28px;
  flex-direction: column;
  align-items: flex-start;
}

.logoCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoPikappOrder {
    // margin-top: 25px;
    // width: 150px;
    // height: 60px;
    margin-top: 5px;
    width: 126px;
    height: 50px;
    cursor: pointer;
}

.confirmationOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  // font-size: 25px;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderConfirmContent {
  display: flex;
}

.orderConfirm-LeftSide {
  width: 50%;
}

//orderConfirmList start
.orderConfirmList {
  max-width: 477px;
  width: auto;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #e5e5e5;
}

.orderConfirmList-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f6f7;
  height: 40px;
  padding-top: 7px;
  padding-left: 14.5px;
}

.orderConfirmList-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderConfirmList-content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 22.5px 17.5px 36px 14.5px;
  margin-bottom: 7px;
}

.orderConfirmList-content-frame {
  width: 118px;
  height: 118px;
  border-radius: 20px;
  overflow: hidden;
}

.orderConfirmList-content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.orderConfirmList-content-detail {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.orderConfirmList-content-detail-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
}

.orderConfirmList-content-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  max-width: 150px;
}

.orderConfirmList-content-choice,
.orderConfirmList-content-notes {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #767676;
  max-width: 150px;
}

.orderConfirmList-content-price {
  font-family: "SF-Compact-Rounded-Semibold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderConfirmList-content-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.orderConfirmList-editButton {
  width: 62px;
  height: 27.5px;
  border: 2px solid #4bb7ac;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.orderConfirmList-editWord {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #4bb7ac;
}

.orderConfirmList-amountBox {
  margin: 0;
  padding: 0;
}

.orderConfirmList-amountBox-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.orderConfirmList-minusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  background-color: #4bb7ac;
  cursor: pointer;
}

.orderConfirmList-minusSym {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.orderConfirmList-numberArea {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #111111;
  margin-left: 12px;
  margin-right: 12px;
}

.orderConfirmList-plusBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  background-color: #4bb7ac;
  cursor: pointer;
}

.orderConfirmList-plusSym {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
//orderConfirmList end

.orderConfirm-RightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.flex-RightSide {
  margin-left: auto;
}

//orderConfirmStoreBox start
.orderConfirm-storeBox {
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  min-width: 477px;
  width: auto;
  margin-bottom: 40px;
}

.orderConfirm-storeBox-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: auto;
  padding: 12px 15px 7px 15px;
  border-radius: 8px 8px 0px 0px;
}

.orderConfirm-storeBox-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  max-width: 300px;
}

.orderConfirm-storeBox-distance {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderConfirm-storeBox-content {
  display: flex;
  justify-content: start;
  padding: 12px 15px 12px 16px;
  height: auto;
}

.orderConfirm-storeBox-descArea {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  width: auto;
}
//orderConfirmStoreBox end

//orderConfirmFoodService start
.orderConfirm-foodService {
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 477px;
  width: auto;
  margin-bottom: 30px;
  cursor: pointer;
}

.orderConfirm-foodService-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: 40px;
  padding: 0px 0px 0px 15px;
}

.orderConfirm-foodService-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderConfirm-foodService-selectButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.orderConfirm-foodService-selectIcon {
  width: 20px;
  height: 12px;
}

.orderConfirm-foodService-content {
  padding: 10px 10px 10px 12px;
}

.orderConfirm-foodService-descArea {
  display: flex;
  justify-content: start;
  align-items: center;
}

.orderConfirm-foodService-logo {
  width: 33px;
  height: 33px;
}

.orderConfirm-foodService-words {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  padding-top: 7px;
  margin-left: 7px;
}
//orderConfirmFoodService end

//orderConfirmPaymentService start
.orderConfirm-paymentService {
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 477px;
  width: auto;
  margin-bottom: 42px;
  cursor: pointer;
}

.orderConfirm-paymentService-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
  background-color: #f5f6f7;
  height: 40px;
  padding: 0px 0px 0px 15px;
}

.orderConfirm-paymentService-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderConfirm-paymentService-selectButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}

.orderConfirm-paymentService-selectIcon {
  width: 20px;
  height: 12px;
}

.orderConfirm-paymentService-content {
  padding: 10px 10px 10px 15px;
}

.orderConfirm-paymentService-descArea {
  display: flex;
  justify-content: start;
  align-items: center;
}

.orderConfirm-paymentService-logo {
  width: 26px;
  height: 26px;
}

.orderConfirm-paymentService-words {
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
  padding-top: 4px;
  margin-left: 7px;
}
//orderConfirmPaymentService end

//orderConfirmCheckout start
.orderConfirm-checkoutArea {
  display: flex;
  justify-content: space-between;
  min-width: 477px;
  width: auto;
}

.orderLayout-mob {
  display: none;
}

.orderConfirm-TotalAmount {
  min-width: 182px;
  width: auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 6px 20px 6px 12px;
  cursor: pointer;
}

.orderConfirm-TotalAmount-title {
  display: flex;
  justify-content: start;
  font-family: "SF-Compact-Rounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderConfirm-TotalAmount-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.orderConfirm-TotalAmount-price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #111111;
}

.orderConfirm-TotalAmount-detailArrow {
  width: 20px;
  height: 12px;
}

.orderConfirm-OrderButton {
  display: flex;
  justify-content: space-between;
  background-color: #4bb7ac;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 16px 12px 16px 19px;
  min-width: 283px;
  width: auto;
  cursor: pointer;
}

.orderConfirm-OrderButton-content {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.orderConfirm-OrderButton-content {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

// .loadedContent {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   position: relative;
//   align-items: center;
// }

.orderConfirm-OrderButton-Frame {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderConfirm-OrderButton-checklist {
  width: 14px;
  height: 10px;
}

.orderConfirm-OrderButton-word {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
  padding-top: 7px;
  margin-left: 14px;
}

.orderConfirm-OrderButton-orderArrow {
  width: 11px;
  height: 18px;
}

.iconOrder {
    display: flex;
    position: absolute;
    // gap: 15px;
    top: 10px;
    right: 34px;
}

.profileOrder-img {
    width: 28px;
    height: 28px;
}

.notifOrder-img {
    width: 28px;
    height: 28px;
}

.profileOrder-sec {
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 13px;
    margin-right: 20px;
    border: 1px solid #aaaaaa;
}

.notifOrder-sec {
    width: 44px;
    height: 44px;
    background-color: #dc6a84;
    border-radius: 13px;
}

.profileOrder,
.notifOrder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reactProfOrder,
.reactNotifOrder {
    font-size: 23px;
}

.modalOrder {
    z-index: 3; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
    // overflow: hidden; /* Enable scroll if needed */
}

.modal-content-order {
    background-color: white;
    position: relative;
    max-width: 588px; /* Max width where it stops expanding */
    width: auto; /* Width in proportion to its parent container*/
    // min-height: 474px;
    // max-height: 573px; /* Max Height where it stops expanding */
    // height: 90vh; /* Height in proportion to its parent container*/
    margin: auto; /* Auto margin according to the element width */
    margin-top: 5vh;
    border: none;
    min-height: 574px;
    max-height: 673px;
    border-radius: 20px; /* Optional. Rounds container corners */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: auto;
    // box-shadow: 0px 4px 20px 5px rgb(0 0 0 / 5%);
}

.menu-name-order {
    max-width: 600px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
    line-height: 20px;
    // margin-top: 25px;
    // margin-left: 30px;
    margin-top: 15px;
    margin-left: 5px;
}

.order-transaction {
    // min-width: 530px;
    // max-width: 530px;
    min-width: 440px;
    max-width: 440px;
    margin-bottom: 24px;
    box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 5%);
    border-radius: 8px;
    width: auto;
    cursor: pointer;
    margin-top: 25px;
}

.order-transaction-header {
    height: 32px;
    padding: 0px 0px 0px 12px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 5%);
    background-color: #f5f6f7;
}

.order-transaction-title {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    text-transform: capitalize;
    color: #111111;
}

.order-transaction-content {
    padding: 10px 10px 10px 12px;
}

.order-transaction-descArea {
    display: flex;
    justify-content: start;
    align-items: center;
}

.order-transaction-words {
    font-size: 15px;
    padding-top: 7px;
    margin-left: 7px;
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
    color: #111111;
}

.orderContent {
    display: flex;
    justify-content: center;
}

.order-payment {
    // min-width: 530px;
    // max-width: 530px;
    min-width: 440px;
    max-width: 440px;
    margin-bottom: 24px;
    box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 5%);
    border-radius: 8px;
    width: auto;
    cursor: pointer;
}

.order-transaction-logo {
    width: 26px;
    height: 26px;
}

.buttonSide-order {
    display: flex;
    // width: 90%;
    width: 480px;
    justify-content: space-between;
    margin-top: 20px;
}

.submitButton-order {
    display: flex;
    width: 176px;
    background-color: #4bb7ac;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    cursor: pointer;
}

.wordsButton-order {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
}

.linkWords-order {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: #4bb7ac;
    margin-top: 10px;
    cursor: pointer;
}

.buttonPayment-order {
    display: flex;
    // width: 90%;
    width: 480px;
    justify-content: space-between;
    margin-top: 10px;
}

.submitPayment-order {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #4bb7ac;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    cursor: pointer;
}

.modal-header-order {
    display: flex;
    justify-content: space-between;
}

.menu-counter-order {
    // width: 75px;
    // margin-top: 20px;
    width: 55px;
    margin-top: 12px;
    color: #aaaaaa;
}
.buttonBack-order {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 10px;
}

.submitBack-order {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  color: #4bb7ac;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
  cursor: pointer;
}

.wordsBack-order {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  color: #4bb7ac;
  text-align: center;
}
//orderConfirmCheckout end

@media (max-width: 768px) {
  .orderLayout {
    width: 100vw;
    padding: 20px 17px 26px 17px;
  }

  .LogoPikappOrder {
    margin-top: 5px;
    width: 126px;
    height: 50px;
  }

  .orderTitle {
    flex-direction: column;
    align-items: flex-start;
    height: 54px;
    margin-bottom: 28px;
  }

  .confirmationOrder {
    font-size: 20px;
  }

  .orderConfirmContent {
    flex-direction: column;
  }

  .orderConfirm-LeftSide {
    display: flex;
    width: auto;
    justify-content: center;
  }

  //orderConfirmList start
  .orderConfirmList {
    max-width: 381px;
  }

  .orderConfirmList-header {
    height: 32px;
    padding-top: 4px;
    padding-left: 11px;
  }

  .orderConfirmList-title {
    font-size: 15px;
  }

  .orderConfirmList-content {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 18px 12.5px 14px 13px;
    margin-bottom: 4px;
  }

  .orderConfirmList-content-frame {
    width: 94px;
    height: 94px;
  }

  .orderConfirmList-content-detail {
    width: 240px;
  }

  .orderConfirmList-content-detail-left {
    max-width: 150px;
    width: auto;
  }

  .orderConfirmList-content-title {
    font-size: 15px;
  }

  .orderConfirmList-content-choice,
  .orderConfirmList-content-notes {
    font-size: 12px;
  }

  .orderConfirmList-content-price {
    font-size: 15px;
  }

  .orderConfirmList-editButton {
    width: 49.5px;
    height: 22px;
    border: 1px solid #4bb7ac;
  }

  .orderConfirmList-editWord {
    font-weight: 500;
    font-size: 12px;
  }

  .orderConfirmList-minusBox {
    width: 23px;
    height: 23px;
  }

  .orderConfirmList-minusSym {
    font-size: 15px;
  }

  .orderConfirmList-numberArea {
    margin-left: 10px;
    margin-right: 10px;
  }

  .orderConfirmList-plusBox {
    width: 23px;
    height: 23px;
  }

  .orderConfirmList-plusSym {
    font-size: 15px;
  }
  //orderConfirmList end

  .orderConfirm-RightSide {
    align-items: center;
    width: auto;
  }

  .flex-RightSide {
    margin-left: 0;
  }

  //orderConfirmStoreBox start
  .orderConfirm-storeBox {
    border: 0.5px solid #f5f6f7;
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 24px;
    margin-top: 32px;
  }

  .orderConfirm-storeBox-header {
    height: auto;
    padding: 5px 12px 0px 12px;
  }

  .orderConfirm-storeBox-title {
    max-width: 250px;
    font-size: 15px;
  }

  .orderConfirm-storeBox-distance {
    font-size: 10px;
  }

  .orderConfirm-storeBox-content {
    padding: 8px 12px 8px 13px;
  }

  .orderConfirm-storeBox-descArea {
    font-size: 12px;
  }
  //orderConfirmStoreBox end

  //orderConfirmFoodService start
  .orderConfirm-foodService {
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 24px;
  }

  .orderConfirm-foodService-header {
    height: 32px;
    padding: 0px 0px 0px 12px;
  }

  .orderConfirm-foodService-title {
    font-size: 15px;
  }

  .orderConfirm-foodService-selectButton {
    width: 32px;
    height: 32px;
  }

  .orderConfirm-foodService-selectIcon {
    width: 17px;
    height: 10px;
  }

  .orderConfirm-foodService-logo {
    width: 27px;
    height: 27px;
  }

  .orderConfirm-foodService-words {
    font-size: 15px;
    padding-top: 7px;
    margin-left: 7px;
  }
  //orderConfirmFoodService end

  //orderConfirmPaymentService start
  .orderConfirm-paymentService {
    min-width: 381px;
    max-width: 381px;
    margin-bottom: 0px;
  }

  .orderConfirm-paymentService-header {
    height: 32px;
    padding: 0px 0px 0px 12px;
  }

  .orderConfirm-paymentService-title {
    font-size: 15px;
  }

  .orderConfirm-paymentService-selectButton {
    width: 32px;
    height: 32px;
  }

  .orderConfirm-paymentService-selectIcon {
    width: 17px;
    height: 10px;
  }

  .orderConfirm-paymentService-content {
    padding: 10px 10px 10px 12px;
  }

  .orderConfirm-paymentService-logo {
    width: 21px;
    height: 21px;
  }

  .orderConfirm-paymentService-words {
    font-size: 15px;
    padding-top: 4px;
    margin-left: 7px;
  }
  //orderConfirmPaymentService end

  //orderConfirmCheckout start
  .orderConfirm-checkoutArea {
    display: none;
  }

  .orderLayout-mob {
    display: block;
    position: sticky;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
    // padding-bottom: 17px;
  }

  .orderConfirm-checkoutArea-mob {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: #ffffff;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 40px 40px;
    height: 81px;
    padding: 14px 17px 16px 27px;
  }

  .orderConfirm-TotalAmount-mob {
    min-width: 100px;
    max-width: 283px;
    width: auto;
    background-color: #ffffff;
  }

  .orderConfirm-TotalAmount-title-mob {
    display: flex;
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: #111111;
  }

  .orderConfirm-TotalAmount-bottom-mob {
    display: flex;
    justify-content: space-between;
  }

  .orderConfirm-TotalAmount-price-mob {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
    color: #111111;
    margin-right: 10px;
  }

  .orderConfirm-TotalAmount-detailArrowCenter-mob {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }

  .orderConfirm-TotalAmount-detailArrow-mob {
    width: 20px;
    height: 12px;
  }

  .orderConfirm-OrderButton-mob {
    display: flex;
    justify-content: space-between;
    background-color: #4bb7ac;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 12px 12px 13px 19px;
    max-width: 283px;
    min-width: 165px;
    width: auto;
    height: 51px;
  }

  .orderConfirm-OrderButton-content-mob {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .orderConfirm-OrderButton-Frame-mob {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orderConfirm-OrderButton-checklist-mob {
    width: 14px;
    height: 10px;
  }

  .orderConfirm-OrderButton-word-mob {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #ffffff;
    padding-top: 9px;
    margin-left: 14px;
  }

  .orderConfirm-OrderButton-orderArrowCenter-mob {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orderConfirm-OrderButton-orderArrow-mob {
    width: 11px;
    height: 18px;
  }

  .iconOrder {
        display: flex;
        position: absolute;
        // gap: 15px;
        top: 17px;
        right: 16.5px;
    }

    .profileOrder-img {
        width: 18.4px;
        height: 18.4px;
        margin-top: 7.3px;
    }

    .notifOrder-img {
        width: 15.3px;
        height: 15.3px;
        margin-top: 9px;
    }

    .profileOrder-sec {
        width: 33px;
        height: 33px;
        background-color: white;
        border-radius: 10px;
        margin-right: 13px;
        border: 1px solid #aaaaaa;
    }

    .notifOrder-sec {
        width: 33px;
        height: 33px;
        background-color: #dc6a84;
        border-radius: 10px;
    }

    .profileOrder,
    .notifOrder {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reactProfOrder,
    .reactNotifOrder {
        font-size: 15px;
    }

    .modalOrder {
        z-index: 3; /* Overlay effect: positioned over other containers */
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        top: 0;
        left: 0;
        overflow: hidden; /* Enable scroll if needed */
    }
    /* Modal content */
    .modal-content-order-mob {
        background-color: white;
        position: relative;
        max-width: 588px;
        width: auto; /* Width in proportion to its parent container*/
        // height: auto; /* Height in proportion to its parent container */
        margin: auto; /* Auto margin according to the element width */
        border: none;
        min-height: 574px;
        max-height: 673px;
        border-radius: 20px; /* Optional. Rounds container corners */
        -webkit-animation-name: animate top;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        overflow: auto;
    }

    .menu-name-order {
        max-width: 600px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        text-transform: capitalize;
        color: #000000;
        line-height: 20px;
        margin-top: 15px;
        margin-left: 5px;
    }

    .order-transaction {
        min-width: 371px;
        max-width: 371px;
        margin-bottom: 24px;
        box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 5%);
        border-radius: 8px;
        width: auto;
        cursor: pointer;
        margin-top: 25px;
    }

    .order-payment {
        min-width: 371px;
        max-width: 371px;
        margin-bottom: 24px;
        box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 5%);
        border-radius: 8px;
        width: auto;
        cursor: pointer;
    }

    .buttonSide-order {
        display: flex;
        width: 98%;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .submitButton-order {
        display: flex;
        width: 176px;
        background-color: #4bb7ac;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
        cursor: pointer;
    }
    
    .wordsButton-order {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        text-transform: capitalize;
        color: #ffffff;
        text-align: center;
    }
    
    .linkWords-order {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.5;
        text-transform: capitalize;
        color: #4bb7ac;
        margin-top: 10px;
        cursor: pointer;
    }

    .buttonPayment-order {
        display: flex;
        width: 98%;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .submitPayment-order {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: #4bb7ac;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
        cursor: pointer;
    }

    .menu-counter-order {
        width: 55px;
        margin-top: 12px;
        color: #aaaaaa;
    }

    .buttonBack-order {
        display: flex;
        width: 98%;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .submitBack-order {
        display: flex;
        width: 100%;
        height: 50px;
        background-color:  #ffffff;
        color: #4bb7ac;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 4px 20px rgba(17, 17, 17, 0.1);
        cursor: pointer;
    }

    .wordsBack-order {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        text-transform: capitalize;
        color: #4bb7ac;
        text-align: center;
    }
  //orderConfirmCheckout end
}

@media (max-width: 450px) {
  .orderConfirm-LeftSide {
    display: block;
    width: auto;
    justify-content: flex-start;
  }
}

@media (max-width: 380px) {
  //orderConfirmList start
  .orderConfirmList {
    max-width: 350px;
  }

  .orderConfirmList-content-detail {
    max-width: 300px;
    width: auto;
  }

  .orderConfirmList-content-detail-left {
    max-width: 130px;
    width: auto;
  }

  .orderConfirmList-content-title {
    font-size: 15px;
  }
  //orderConfirmList end

  .flex-RightSide {
    margin-left: auto;
  }

  //orderConfirmStoreBox start
  .orderConfirm-storeBox {
    min-width: 340px;
    max-width: 340px;
  }
  //orderConfirmStoreBox end

  //orderConfirmFoodService start
  .orderConfirm-foodService {
    min-width: 340px;
    max-width: 340px;
  }
  //orderConfirmFoodService end

  //orderConfirmPaymentService start
  .orderConfirm-paymentService {
    min-width: 340px;
    max-width: 340px;
  }

  .order-transaction {
    min-width: 280px;
    max-width: 331px;
  }

  .order-payment {
    min-width: 330px;
    max-width: 331px;
  }

  .menu-counter-order {
    width: 50px;
    margin-top: 13px;
}
  //orderConfirmPaymentService end
}

@media (max-width: 325px) {
  //orderConfirmList start
  .orderConfirmList {
    min-width: 290px;
    max-width: 290px;
  }

  .orderConfirmList-content-detail {
    max-width: 150px;
    width: auto;
  }

  .orderConfirmList-content-detail-left {
    max-width: 100px;
    width: auto;
  }

  .orderConfirmList-content-title {
    font-size: 12px;
  }

  .orderConfirmList-content-choice,
  .orderConfirmList-content-notes {
    font-size: 12px;
  }
  //orderConfirmList end

  .flex-RightSide {
    margin-left: auto;
  }

  //orderConfirmStoreBox start
  .orderConfirm-storeBox {
    min-width: 290px;
    max-width: 290px;
  }
  //orderConfirmStoreBox end

  //orderConfirmFoodService start
  .orderConfirm-foodService {
    min-width: 290px;
    max-width: 290px;
  }
  //orderConfirmFoodService end

  //orderConfirmPaymentService start
  .orderConfirm-paymentService {
    min-width: 290px;
    max-width: 290px;
  }
  //orderConfirmPaymentService end

  //orderConfirmCheckout start
  .orderConfirm-TotalAmount-mob {
    min-width: 100px;
    max-width: 100px;
  }

  .orderConfirm-TotalAmount-title-mob {
    font-size: 10px;
  }

  .orderConfirm-TotalAmount-price-mob {
    font-size: 12px;
    margin-right: 5px;
  }

  .orderConfirm-TotalAmount-detailArrowCenter-mob {
    padding-top: 4px;
  }

  .orderConfirm-TotalAmount-detailArrow-mob {
    width: 15px;
    height: 7px;
  }

  .orderConfirm-OrderButton-mob {
    max-width: 200px;
    min-width: 145px;
  }

  .orderConfirm-OrderButton-Frame-mob {
    width: 24px;
    height: 24px;
  }

  .orderConfirm-OrderButton-checklist-mob {
    width: 12px;
    height: 8px;
  }

  .orderConfirm-OrderButton-word-mob {
    font-size: 14px;
  }

  .orderConfirm-OrderButton-orderArrow-mob {
    width: 9px;
    height: 16px;
  }

  .order-transaction {
    min-width: 270px;
    max-width: 282px;
  }

  .order-payment {
    min-width: 280px;
    max-width: 282px;
  }

  //orderConfirmCheckout end
}

// @media (min-width: 768px) {
//     .iconOrder {
//         display: flex;
//         position: absolute;
//         // gap: 15px;
//         top: 20px;
//         right: 54px;
//       }
    
//       .profileOrder-img {
//         width: 37px;
//         height: 37px;
//       }
    
//       .notifOrder-img {
//         width: 30.5px;
//         height: 30.5px;
//       }
    
//       .profileOrder-sec {
//         width: 66px;
//         height: 66px;
//         background-color: white;
//         border-radius: 17px;
//         margin-right: 30px;
//         border: 1px solid #aaaaaa;
//       }
    
//       .notifOrder-sec {
//         width: 66px;
//         height: 66px;
//         background-color: #dc6a84;
//         border-radius: 17px;
//       }
    
//       .profileOrder,
//       .notifOrder {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
    
//       .reactProfOrder,
//       .reactNotifOrder {
//         font-size: 37px;
//       }
// }

.verificationMsg {
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #DC6A84;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  color: #ffffff;
  line-height: 2;
}

.messageSend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.txtUnderline {
  text-decoration: underline;
  cursor: pointer;
  text-indent: 0.5em;
}

.txtDisabled {
  cursor: none;
  text-indent: 0.5em;
}

.txtBold {
  font-weight: bold;
  text-transform: lowercase;
}

.txtIndent {
  text-indent: 0.5em;
}