@font-face {
    font-family: "SF-Compact-Rounded";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Regular.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Medium.otf);
}

@font-face {
    font-family: "SF-Compact-Rounded-Semibold";
    src: url(../Font/FontSFCompact/SF-Compact-Rounded-Semibold.otf);
}

body {
    background-color: #f0f1f2 !important;
    display: flex;
    justify-content: center;
}

.shippingdate-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 480px;
    width: 100vw;
    height: 100vh;
    padding: 0px 0px 20px 0px;
    background-color: #ffffff;
}

.shippingdate-topSide {
    display: flex;
    flex-direction: column;
}

.shippingdate-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    padding: 14px 14px 14px 14px;
}

.shippingdate-backArrow-icon {
    width: 23px;
    height: 23px;
}

.shippingdate-title {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    color: #111111;
    margin-left: 16px;
}

// shipping date warning start
.shippingdate-alert-paymentnotselected {
    margin: 14px 14px 0px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBE5C6;
    border: 1px solid #e88901;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 14px;
}

.shippingdate-alert-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-icon {
    width: 18px;
    height: 16px;
}

.shippingdate-alert-title {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #e88901;
    margin-left: 14px;
}
// shipping date warning end

.shippingdate-detailContent {
    display: flex;
    height: 100%;
    padding: 0px 14px 0px 14px;
}

.shippingdate-radioSection {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

.shippingdate-radioSection input[type="radio"] {
    display: none;
}

.shippingdate-radioSection label {
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #aaaaaa;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    // border-bottom-left-radius: 0px;
    // border-bottom-right-radius: 0px;
    height: 100%;
    padding: 12px 12px 11px 12px;
}

.shippingdate-radioSection input[type="radio"]:checked + label {
    border-color: #4bb7ac;
    background-color: #E6FBF9;
}

.shippingdate-radioSection input[type="radio"]:checked + label .shippingdate-radioTitle {
    color: #4bb7ac;
}

.shippingdate-radioSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shippingdate-radio-image {
    width: 23px;
    height: 23px;
}

.shippingdate-radioTitle {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: #111111;
    font-size: 18px;
    margin-left: 10px;
}

.shippingdate-selectButton, .shippingdate-addressInput-selectButton {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 8px;
    margin-left: 14px;
    margin-right: 14px;

    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: white;
}

.shippingdate-selection-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px 14px 14px 14px;
    margin-left: 14px;
    margin-right: 14px;
    border: 1px solid #4bb7ac;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.shippingdate-input {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 7px 7px 7px 12px;
    margin-bottom: 14px;
}

.shippingdate-input-leftSide {
    display: flex;
    position: inherit;
    align-items: center;
}

.shippingdate-address-location-icon {
    height: 23px;
    width: 23px;
}

.shippingdate-addressLayout {
    margin-left: 14px;
}

.shippingdate-addressTitle {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: #111111;
    font-size: 12px;
}

.shippingdate-addressInputted {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: gray;
    font-size: 12px;
}

.address-open-icon {
    height: 23px;
    width: 23px;
}

.shippingdate-shipperName, .shippingdate-shipperPrice {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.shippingdate-shipperName-title, .shippingdate-shipperPrice-title {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: #111111;
    font-size: 14px;
}

.shippingdate-shipperPrice-layout {
    display: flex;
}

.shippingdate-shipperPrice-currency {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    background-color: #4bb7ac;
    border: 1px solid #4bb7ac;
    border-radius: 8px 0px 0px 8px;

    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #ffffff;
}

.shippingdate-shipperName-inputArea {
    width: 100%;
    padding: 7px 7px 7px 12px;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
}

.shippingdate-shipperPrice-inputArea {
    padding: 7px 7px 7px 12px;
    border: 1px solid gray;
    border-radius: 0px 8px 8px 0px;
    border-left: none;
    width: 100%;
    outline: none;
}

// Address Input View
.addressInput-fullAddress, .addressInput-shipperNotes {
    margin: 14px 14px 0px 14px;
}

.addressInput-fullAddress-title, .addressInput-shipperNotes-title {
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: #111111;
    font-size: 14px;
}

.addressInput-fullAddress-inputArea, .addressInput-shipperNotes-inputArea {
    width: 100%;
    height: 80px;
    font-family: "SF-Compact-Rounded", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 12px;
    color: #aaaaaa;
    background-color: transparent;
    padding-left: 14px;
    padding-top: 14px;
    border-color: #aaaaaa;
    border-radius: 8px;
    outline: none;
}

.shippingdate-datetimepicker {
    width: 422px;
    margin-bottom: 10px !important;
    padding-right: 0px !important;
}

@media (max-width: 768px) {
    .shippingdate-datetimepicker {
        width : 355px;
    }
}

.shippingdate-timepicker {
    height: 55px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.MuiOutlinedInput-adornedEnd {
    padding-right: 0px !important;
}